@import "../../helpers/color.less";
.networkBox {
  margin-top: -20px;
  margin-left: -30px;
}
.svgBox {
  position: relative;
  cursor: move;
  border-left: 1px solid @black12;
  border-right: 1px solid @black12;
  border-bottom: 1px solid @black12;
}
.legend {
  min-height: 40px;
  line-height: 40px;
  border: 1px solid @black12;
  padding:0 10px;
  background: @black15;
}
.legendNotice {
  color: @black5;
  float: right;
}
.legendAction {
  display: inline-block;
  height: 24px;
}
.addIcon {
  height: 13px;
  width: 13px;
  margin-bottom: 3px;
}
.resumeIcon {
  height: 10px;
  width: 12px;
  margin-bottom: 3px;
}
.zoomInIcon {
  height: 9px;
  width: 9px;
  margin-bottom: 3px;
}
.zoomOutIcon {
  height: 1px;
  width: 9px;
  margin-bottom: 3px;
}
.fullIcon {
  height: 11px;
  width: 12px;
  margin-bottom: 3px;
}
.exitIcon {
  height: 11px;
  width: 11px;
  margin-bottom: 3px;
}
.legendMain {
  display: inline-block;
  border-radius: 50%;
  background: #e77700;
  width: 10px;
  height: 10px;
}
.legendCancel {
  margin-left: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #bbbbbb;
  width: 10px;
  height: 10px;
}
.legendBlacklist {
  margin-left: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  width: 10px;
  height: 10px;
}
.noContent{
  padding: 40px;
  font-weight: bold;
  color: @purple1;
}
.optBtn {
  color: @black5;
  height: 20px;
  line-height: 20px;
  padding: 0 15px;
  text-align: center;
  float: right;
  margin: 10px 10px 0 -5px;
  &:hover {
    color: @black5;
  }
}
.zoomLabel {
  display: inline-block;
  color: @black5;
  height: 20px;
  line-height: 20px;
  padding: 0 15px;
  text-align: center;
  float: right;
  margin: 10px 0 0 -10px;
}
.zoomRatio {
  display: inline-block;
  color: @black5;
  height: 20px;
  line-height: 20px;
  padding: 0 15px;
  text-align: center;
  float: right;
  margin: 10px 10px 0 -5px;
}
.addNode {
  composes: optBtn;
  border-right: 1px solid @black12;
  border-left: 1px solid @black12;
}
.zoomIn {
  composes: optBtn;
  border-right: 1px solid @black12;
  margin-right: 0px;
}
.fullBtn {
  composes: optBtn;
  // border-left: 1px solid @black12;
}
.resumeBtn {
  composes: optBtn;
}
.toggleLinksBtn {
  composes: optBtn;
}
.links {
  stroke: #e5e5e5;
  stroke-width: 1px;
}

.hide {
  display: none;
}
.focusLink {
  stroke: @yellow1;
  stroke-width: 2px;
  cursor: pointer;
}
.hoverLink {
  stroke: #e5e5e5;
  // stroke: @purple1;
  stroke-width: 12px;
  cursor: pointer;
}
.focusNode {
  cursor: pointer;
  stroke: @yellow1;
  stroke-width: 2px;
  fill: @yellow1;
}
.searchNode {
  cursor: pointer;
  stroke: @red1;
  stroke-width: 2px;
  fill: @red1;
}
.cancelNodes {
  cursor: pointer;
  stroke: none;
  fill: #bbbbbb;
}
.blackListNodes {
  cursor: pointer;
  stroke: none;
  fill: #000;
}
.mainCompany {
  cursor: pointer;
  stroke: none;
  fill: #3a637f;
}
.category1 {
  cursor: pointer;
  stroke: none;
  fill: #c23531;
}
.category2 {
  cursor: pointer;
  stroke: none;
  fill: #dd9177;
}
.category3 {
  cursor: pointer;
  stroke: none;
  fill: #bda29a;
}
.category4 {
  cursor: pointer;
  stroke: none;
  fill: #448587;
}
.category5 {
  cursor: pointer;
  stroke: none;
  fill: #91c7ae;
}
.category6 {
  cursor: pointer;
  stroke: none;
  fill: #bd8b43;
}
.category7 {
  cursor: pointer;
  stroke: none;
  fill: #749f83;
}
.category8 {
  cursor: pointer;
  stroke: none;
  fill: #6e7074;
}
.relativeCompany {
  cursor: pointer;
  stroke: none;
  fill: #4ab2e8;
}
.relativePerson {
  cursor: pointer;
  stroke: none;
  fill: #365ebf;
}
.arrow {
  fill: #e5e5e5;
}
.text {
  fill: #999999;
  cursor: pointer;
}
.spreadTag {
  fill: @white1;
  cursor: pointer;
}

.number {
  fill: @white1;
  cursor: pointer;
}
@keyframes graphAnimate {
  from{transform: scale(0, 0)}
  to{transform: scale(1, 1)}
}
.boxFullScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 980;
  animation: graphAnimate 1s;
  background-color: @white1;
  transition: all 1s;
}
.tabContentWrap{
  margin-left: 280px;
  padding: 20px;
  background: @white1;
  overflow: hidden;
}
.svgFullScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 980;
  animation: graphAnimate 1s;
  background-color: @white1;
  transition: all 1s;
}
@keyframes notice{
  0%{transform: scale(1)}
  50%{transform: scale(1.5)}
  100%{transform: scale(1)}
}
.tip {
  color: @black7;
  display: inline-block;
}
.tip i {
  color: @red1;
  // animation: notice 2s infinite;
}

.select {
  margin-top: 4px;
  display: inline-block;
  float: right;
  width: 100px;
  height: 20px;
	line-height: 20px;
	text-align: center;
	color: @black5;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
.select i {
	float: none;
	width: 9px;
}
.select i::before {
	position: relative;
	top: 0;
}
.select span {
	padding-right: 5px;
}
.select a {
	font-size: 13px;
  padding: 0;
	text-align: center;
	border: none;
	color: @black5;
	&:hover {
    border: none;
  }
}
.select ul {
	border: 1px @black9 solid!important;
}
.select ul li {
	font-size: 13px;
	font-weight: 500;
	height: 26px;
	line-height: 26px;
	text-align: center;
  width: 100%;
	text-indent: 0px;
  padding: 0;
	background-color: @black12;
	&:hover {
		color: @black5;
		cursor: pointer;
		background-color: @black12!important;
	}
}

.zoomBox {
  top: 10px;
  right: 0;
  position: absolute;
  width: 100px;
  cursor: auto;
}