@import "~sc-colors/index.less";
.top {
  padding-bottom: 10px;
}
.firstTitle {
  font-size: 14px;
  .grades {
    display: inline-block;
    padding: 0;
    width: 118px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 100px;
    float: right;
  }
}
.mainTitle {
  composes: firstTitle;
  color: @mdc-grey-800;
  padding-left: 2px;
  .big {
    color: @red1;
    border: 1px solid @red1;
  }
  .middle {
    color: @yellow1;
    border: 1px solid @yellow1;
  }
  .small {
    color: @green1;
    border: 1px solid @green1;
  }
}
.typeName {
  border-left: 2px solid @mdc-blue-400;
  padding-left: 4px;
  line-height: 14px;
  display: inline-block;
}
.companyType {
  position: relative;
  top: 1px;
  margin: 0 3px;
}
.companyWrap {
  margin-right: 4px
}
.mainType{
  composes: companyWrap;
  color: @blue2;
}
.relatedType{
  composes: companyWrap;
  color: @green1;
}
.nameAndTimeWrap{
  overflow: hidden;
  height: 16px;
  line-height: 1;
}
.companys {
  line-height: 1;
  float: left;
}
// modal
.firstType {
  font-size: 18px;
  line-height: 1em;
  color: @mdc-blue-400;
  margin-bottom: 15px;
}
.modalTypeName {
  float: left;
  font-size: 14px;
  color: @mdc-grey-800;
  line-height: 1em;
}
.modalDate {
  float: right;
  font-size: 14px;
  color: @mdc-grey-800;
}
.modalTypeName {
  margin-bottom: 10px;
}
