.formula {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #42a5f5;
  letter-spacing: 0;
  line-height: 14px;
  text-align: left;
  margin-top: 16px;
  margin-left: 20px;
}

.definition {
  font-weight: bold;
  font-size: 14px;
  color: #9e9e9e;
  letter-spacing: 0;
  line-height: 14px;
  text-align: left;
  margin-left: 20px;
}

.definitionName {
  color: #42a5f5;
}

.title {
  color: #757575;
  text-align: left;
  margin-top: 29px;
  font-weight: bold;
}
.subTitle {
  color: #757575;
  text-align: left;
  margin-top: 29px;
  font-weight: bold;
  margin-left: 10px;
}

.content {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #9e9e9e;
  line-height: 24px;
  text-align: left;
  margin-left: 36px;
  margin-top: 10px;
  margin-right: 20px;
}

.timestamp {
  margin-left: 10px;
  color: #9e9e9e;
}

.excelTitle {
  color: #757575;
  font-weight: bold;
}

.titleContent {
  background: #fafafa;
  border-bottom: 1px solid #eceff1;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
}

.point {
  background: #42a5f5;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  display: inline-block;
}

.formulaFonts {
  margin-left: 10px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #eceff1;
  margin-top: 9px;
}

.analysisContent {
  border: 1px solid #eceff1;
  margin-top: 15px;
  padding-bottom: 10px;
}
