@import '~sc-colors/index.less';

.wrap {
  position: relative;
  margin-top: 20px;
  
  border: 1px solid #efefef;
}

.info {
  width: 100%;

  color: #333;

  background: #f6f8fa;
  border-bottom: 1px solid #efefef;

  div {
    padding: 10px;
  }

  span {
    color: #c23531;
  }
}
