.wrap {
  margin-top: 150px;
  text-align: center;
  img {
    display: block;
    width: 102px;
    height: 98px;
    margin: 0 auto;
  }
  p {
    font-size: 14px;
    margin-top: 20px;
    color: #B0BEC5;
    line-height: 1;
  }
}
