@import '~sc-colors/index.less';

.tip{
  position: absolute;
  top: 0;
  right: 22px;
}
.wdt {
  float: left;
  width: 8px;
  height: 4px;
  margin-top: 4px;
  margin-right: 8px;
}
.wdt1{
  .wdt;
  background-color: @blue8;
}
.wdt2 {
  .wdt;
  background-color: @brown1;
}
.mb10 {
  margin-bottom: 10px;
}
.tipText {
  float: left;
  font-size: 12px;
  color: @black7;
  line-height: 1em;
}
