.box {
  padding: 0 10px;
}
.tableList {
  margin-bottom: 30px;
}
.itemBox {
  font-size: 14px;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-bottom: 20px;
  line-height: 1;
}
.itemBox:last-child {
  margin-bottom: 0;
}
.lineRow {
  margin-bottom: 12px;
}
.name {
  display: inline-block;
  color: #212121;
  vertical-align: middle;
}
.count {
  position: relative;
  top: -11px;
  margin-left: 3px;
  line-height: 1;
  display: inline-block;
  height: 16px;
  padding: 0 5px;
  border-radius: 8px;
  background: #e53935;
  color: #fff;
}
.type {
  display: inline-block;
  line-height: 1;
  color: #e53935;
  height: 14px;
  font-weight: bold;
  vertical-align: middle;
}
.type:after {
  content: '';
  display: inline-block;
  height: 14px;
  margin: 0 10px;
  border-right: 1px solid #e0e0e0;
  vertical-align: middle;
}
.desc {
  color: #757575;
}
.time {
  float: right;
  color: #757575;
  margin-top: 2px;
}
.viewBtn {
  float: right;
  color: #e53935;
  cursor: pointer;
  text-decoration: underline;
}

.title {
  margin: 5px 0 15px 0;
  font-weight: bold;
  font-size:14px;
  color:#616161;
  letter-spacing:0;
  height: 14px;
  line-height:14px;
}
