@import '~sc-colors/index.less';
.modalCon {
  padding: 0 40px;
}
.modalTitle {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1;
  color: @mdc-grey-800;
}
.nameInput {
  margin-bottom: 20px;
}
.typeSelect {
  display: block;
  height: 35px;
  padding: 0 10px;
  line-height: 35px;
  color: @mdc-grey-500;
  border: 1px @mdc-blue-grey-100 solid;
  border-radius: 2px;
  transition: 0.3s border ease;
}
.submitButton {
  margin-top: 20px;
  width: 100%;
}
