.input-box {
  margin-bottom: 20px;
  overflow: hidden;
  .label{
    color: #999;
    width: 80px;
    display: inline-block;
    text-align: right;
    float: left;
  }
  .ip-input {
    width: 370px;
    float: left;
  }
  .textArea {
    float: left;
    width: 370px;
    height: 100px;
    resize: none;
  }
}
.btn-box {
  text-align: center;
  .cancelBtn, .confirmButton {
    margin: 0 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
