@import '~sc-colors/index.less';

.box {
  min-height: 40px;
  line-height: 40px;
  border: 1px solid @black12;
  padding:0 20px 0 10px;
  background: @black15;
}
.tip {
  float: left;
  color: @black5;
  display: block;
  margin-left: 10px;
}
.legendNotice {
  color: @black5;
  float: right;
}
.legendMain {
  display: inline-block;
  border-radius: 50%;
  background: #1f6480;
  width: 8px;
  height: 8px;
}
.legendCompany {
  margin-left: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #308587;
  width: 8px;
  height: 8px;
}
.legendPerson {
  margin-left: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #c2a299;
  width: 8px;
  height: 8px;
}
.legendOhter {
  margin-left: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #999999;
  width: 8px;
  height: 8px;
}
.legendBlacklist {
  margin-left: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  width: 8px;
  height: 8px;
}