.searchTabWrap {
  height: 55px;
  margin: 0;
  padding: 0;
}
.buttonActive {
  float: left;
  display: inline-block;
  padding: 14px 35px;
  margin: 0;
  font-size: 18px;
  background-color: #4AA7F2;
  color: #f4fcf7;
}
.buttonActive:hover {
  color: #f4fcf7;
}
.button {
  float: left;
  display: inline-block;
  padding: 14px 35px;
  margin: 0;
  font-size: 18px;
  color: #B8C4CB;
}
.button:hover {
  color: #4AA7F2;
}
