@import "~sc-colors/index.less";

.addJob-box1-block {
  padding: 30px 20px;
  min-height: 295px;
  
  border: 1px solid @black12;
}

.addJob-detail-title {
  padding-bottom: 20px;
  border-bottom: 1px solid @black13;
}

.addJob-detail-txt {
  float: left;
  margin-left: 20px;

  font-size: 13px;
  line-height: 1em;
  color: @black5;
}

.addJob-detail-prompt {
  float: right;
  margin-right: 20px;
}

.addJob-detail-round {
  float: left;
  margin-left: 40px;
}

.title-round1,
.title-round2
{
  float: left;
  width: 10px;
  height: 10px;
  margin-top: 1px;

  border-radius: 100px;
}
.title-round1{
  background-color: @green1;
}
.title-round2{
  background-color: @blue2;
}

.title-txt{
  float: left;
  margin-left: 10px;

  font-size: 12px;
  line-height: 1em;
}

.addJob-detail-content{
  margin-top: 25px;
}

.detail-content-title {
  float: left;
  margin-left: 20px;
}
.content-title-date {
  font-size: 20px;
  color: @black5;
  line-height: 1em;
}
.content-title-txt {
  margin-top: 10px;

  font-size: 14px;
  color: @black7;
  line-height: 1em;
}

.content-block {
  float: right;
  margin-right: 10px;
  width: 84.27%;
  height: 174px;
  overflow-y: auto;
}
@media (max-width: 1679px) {
  .content-block {
    width: 75%;
  }
}

.content-block-address,
.content-block-job {
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;

  border-left: 1px solid @black11;
}
.content-block-address {
  margin-bottom: 30px;
  background-color: @blue7;
}

.address-txt{
  float: left;
  margin-left: 10px;

  font-size: 13px;
  line-height: 1em;
}
.block-address-text1,
.block-address-text2 {
  margin-top: 10px;
  margin-left: 20px;

  font-size: 13px;
}
.block-address-text1 {
  color: @black4;
}
.block-address-text2 {
  overflow: hidden;

  color: @black5;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}
