@import "~sc-colors/index.less";

.rules_box{
  margin-top: 20px;
  box-shadow:0 2px 4px 2px @mdc-blue-grey-200;
  background-color: @white1;
}
.active_rules{
  height: 350px;
}
.hit_rules{
  height: 336px;
  overflow-y: scroll;
}