.box {
  float: left;
  width: 100%;
  margin: 0 0 35px 0;
}
.title {
  float: left;
  margin: 0 10px 0 0;
  height: 24px;
  line-height: 24px;
  font-size:14px;
  color:#757575;
  letter-spacing:0;
}
.content {
  float: left;
  width: auto;
  height: auto;
  position: relative;
  outline: none;
}
.inputWrap {
  float: left;
  width: 220px;
  height: 25px;
  border-bottom: 1px solid #90caf9;
  outline: none;
}
.inputWrap input {
  float: left;
  width: 210px;
  height: 24px;
  line-height: 24px;
  font-size:14px;
  color:#bdbdbd;
  letter-spacing:0;
  outline: none;
  overflow: hidden;
}
.inputWrap input:focus {
  color:#212121;
}
.validate {
  float: left;
  height: 24px;
  line-height: 24px;
  margin: 0px 0 0 10px;
  font-size: 14px;
  color: #E53935;
  letter-spacing: 0;
}
.hidden {
  display: none;
}
