@import "../../../../../helpers/color.less";
.wrapper {
  float: left;
  width: 35%;
}
.time {
  float: left;
  width: 33.33%;
  text-align: center;
}
.timeKey {
  margin-top: 20px;
  font-size: 13px;
  line-height: 1;
  color: @mdc-blue-grey-300;
}
.timeValue {
  color: @mdc-blue-grey-500;
  font-size: 16px;
  line-height: 1;
}
