@import "~sc-colors/index.less";
.singleWrap {
  position: relative;
  background: @white1;
  padding: 50px 0;
  border-bottom: 1px dashed #eee;
}
.singleWrap:nth-child(1) {
  padding-top: 0;
}
.top {
  padding-bottom: 15px;
  background: @white1;
}
.titleMark {
  display: inline-block;
}
.companys {
  line-height: 1;
  float: left;
}
.companyWrap {
  margin-right: 4px
}
.companyType {
  position: relative;
  top: 1px;
  margin: 0 3px;
}
.mainType{
  composes: companyWrap;
  color: @blue2;
}
.relatedType{
  composes: companyWrap;
  color: @green1;
}
.nameAndTimeWrap{
  overflow: hidden;
  height: 16px;
  line-height: 1;
}
.companyName {
  vertical-align: middle;
  font-size: 14px;
  line-height: 1;
  color: @black5;
  cursor: pointer;
}
.date {
  float: right;
	text-align: right;
	font-size: 14px;
	color: @black6;
}
.content{
  min-height: 0;
  transition: all .3s;
}
