@import "~sc-colors/index.less";
.singleWrap {
  position: relative;
  background: @white1;
  padding: 30px 0;
  border-bottom: 1px dashed #eee;
}
.singleWrap:nth-child(1) {
  padding-top: 0;
}
.top {
  padding-bottom: 10px;
  background: @white1;
}
.titleMark {
  display: inline-block;
}
.companyName {
  vertical-align: middle;
  font-size: 14px;
  line-height: 1;
  color: @black5;
  cursor: pointer;
}
.date {
  float: right;
	text-align: right;
	font-size: 14px;
	color: @black6;
}
.content{
  min-height: 0;
  transition: all .3s;
}
