.business-box {
  width: 100%;
  overflow: hidden;
}
.bs-cont {
  width: 50%;
  float: left;
}
.trends {
  composes: bs-cont;
  padding-right: 10px;
  height: 500px;
}

.detail {
  composes: bs-cont;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 1366px) {
  .detail, .trends {
    float: none;
    width: 100%;
    padding: 0;
  }
  // .detail {
  //   padding-left: 0;
  // }
  // .trends {
  //   padding-right: 0;
  // }
}
