.business-box {
  width: 100%;
  overflow: hidden;
}
.bs-cont {
  width: 50%;
  float: left;
}
.trends {
  composes: bs-cont;
  padding-right: 10px;
}

.detail {
  composes: bs-cont;
  padding-left: 10px;
}
