@import '~sc-colors/index.less';
.main {
  padding: 15px;
}
.list-box {
  height: 385px;
  overflow-y: auto;
}
.list-item {
  padding: 15px 0;
  border-bottom: 1px solid @black12;
}
.company-name {
  margin-bottom: 10px;
  a {
    cursor: pointer;
    color: @mdc-grey-500;
    &:hover {
      color: @mdc-blue-400;
      text-decoration: underline;
    }
  }
}
.tags {
  color: @mdc-grey-400;
  .tags-item {
    display: inline-block;
    background-color: @black12;
    padding: 0 6px;
    line-height: 20px;
  }
}
