@import '~sc-colors/index.less';
.main {
  padding: 15px;
}
.list-box {
  height: 385px;
  overflow-y: auto;
}
.list-item {
  padding: 15px 0;
  border-bottom: 1px solid @black12;
}
.company-name {
  a {
    color: @mdc-grey-500;
  }
}
.tags {
  color: @mdc-grey-400;
}
