.box {
  padding: 0;
  margin: 20px 0 0 0;
  height: 130px;
}
.boxCon {
  float: left;
  width: 49%;
  height: 97px;
}
.boxConL {
  border-right: 1px solid #eeeeee;
}
.boxBtn {
  width: 85px;
  text-align: center;
  margin: 0 auto;
}
.boxLeft {
  position: relative;
  left: -20px;
}
.boxRight {
  position: relative;
  left: 20px;
}
.boxBtn:hover span {
  color:#42a5f5;
}
.boxBtn {
  cursor: pointer;
}
.boxBtn span {
  font-size:14px;
  color:#757575;
  position: relative;
  top: 20px;
}
.boxLeft i {
  display: block;
  width: 51px;
  height: 59px;
  margin: 0 auto;
  background-image: url('../../../../../../../imgs/searchCompany/report.png');
  background-size: auto;
  background-repeat: no-repeat;
}
.boxRight i {
  display: block;
  width: 51px;
  height: 59px;
  margin: 0 auto;
  background-image: url('../../../../../../../imgs/searchCompany/reportVip.png');
  background-size: auto;
  background-repeat: no-repeat;
}
.boxLeft:hover i {
  background-image: url('../../../../../../../imgs/searchCompany/reportHover.png');
}
.boxRight:hover i {
  background-image: url('../../../../../../../imgs/searchCompany/reportVipHover.png');
}
