@import "~sc-colors/index.less";

.mb10 {
  margin-bottom: 10px;
}

.tip{
  position: absolute;
  top: 48px;
  right: 22px;
}

.wdt
{
  float: left;
  width: 8px;
  height: 4px;
  margin-top: 4px;
  margin-right: 8px;
}
.wdt1{
  .wdt;
  background-color: @blue3;
}
.wdt2 {
  .wdt;
  background-color: @green3;
}

.tipText {
  float: left;
  color: @black7;
  line-height: 1em;
}
