.box {
  height: 75px;
  width: 100%;
  padding: 20px 0;
}
.boxCon {
  height: 35px;
}
.ruleAdd {
  border:1px solid #42a5f5;
  width:125px;
  height:33px;
  line-height: 33px;
  text-align: center;
  cursor: pointer;
}
.ruleAdd i {
  font-size:20px;
  color:#42a5f5;
  margin-right: 3px;
  position: relative;
  top: 0px;
}
.ruleAdd span {
  font-size:14px;
  color:#42a5f5;
  position: relative;
  top: -2px;
}
