.popCont {
  max-width: 500px;
}
.paramsBox{
  transition: all .3s;
  // text-align: center;
  position: relative;
  .text {
    text-align: left;
    // display: inline-block;
    // line-height: 26px;
    max-height: 80px;
    overflow: hidden;
    cursor: pointer;
  }
  .copy-btn {
    display: none;
    color: #4A90E2;
    margin-left: 10px;
    text-decoration: underline;
  }
  &:hover {
    .copy-btn {
      display: inline-block;
    }
  }
  // .btnCopy {
  //   // display: none;
  //   // position: absolute;
  //   // right: 0;
  //   // bottom: 4px;
  //   height: 0;
  //   overflow: hidden;
  //   transition: all .3s;
  //   .btn {
  //     height: 26px;
  //     line-height: 26px;
  //   }
  // }
  // &:hover {
  //   color: #4A90E2;
  //   .btnCopy {
  //     // display: inline-block;
  //     height: 26px;
  //   }
  // }
}
