.cover{
  background: url("imgs/pdfDown/cover.jpeg") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 1600px;
  position: relative;
  padding-left: 6em;
  h1{
    font-size: 6em;
    color: #666666;
    margin: 0 0 40px 0;
  }
  h2{
    font-size: 3em;
    color: #2164d3;
  }
  .cfca{
    background: url("imgs/homePage/header_logo_cfca.png")0 4em no-repeat;
    width: 369px;
    height: 35em;
    padding: 4em 0 0 0;
  }
  .logo_sc{
    background: url("imgs/pdfDown/logo_sc.png")0 4em no-repeat;
    width: 380px;
    height: 35em;
    background-size: 360px;
    padding: 8em 0 0 0;
  }
}