.list-item {
  padding: 20px 20px 20px 85px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #eee;
  transition: all .3s;
  &:hover {
    background-color: #F6F9FD;
  }
  .applied, .unapplied {
    position: absolute;
    left: 0;
    top: 22px;
    height: 22px;
    .imgIcon {
      width: 65px;
      height: 22px;
      display: inline-block;
    }
    img {
      height: 100%;
    }
    span {
      position: absolute;
      color: #fff;
      line-height: 22px;
      left: 10px;
    }
  }
  .applied {
    .imgIcon {
      background-image: url('imgs/interface/apply.png');
      background-position: left center;
      background-size: 65px 22px;
    }
  }
  .unapplied {
    .imgIcon {
      background-color: #9b9b9b;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        display: block;
        width: 0;
        height: 0;
        // border: 3px solid #fff;
        // border-left: none;
        border-right: 7px solid #fff;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
      }
    }
  }
  .left-cont {
    float: left;
    width: 670px;
    h3 {
      font-size: 16px;
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 5px;
      color: #4A90E2;
    }
    .discript {
      font-size: 14px;
      color: #9b9b9b;
      line-height: 18px;
      margin-bottom: 5px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .classify {
      font-size: 14px;
      color: #4a4a4a;
    }
  }
  .right-btn {
    float: right;
    width: 130px;
    margin-top: 17px;
    .vsbtn {
      width: 100%;
      border-radius: 4px;
      background-color: #6EA6E8;
    }
  }
}
.list-item:hover {
  .right-btn .vsbtn {
    background-color: #4A90E2;
  }
}
