@import "~sc-colors/index.less";

.companyName{
  font-size: 14px;
  color: @mdc-grey-900;
}
.right_discription{
  padding: 20px 0 0 20px;
  .account_user{
    padding: 10px 0 20px 0;
    color: @mdc-grey-600;
  }
}
.score{
  font-size: 14px;
  color: #93a6b0;
  padding-left: 6px;
}
.flag{
  border: 1px solid #aaa;
  border-radius: 999px;
  padding: 0 6px;
}
.warningDate{
}
.date{
  padding: 35px 20px 0 0;
  color: #539e76;
}
.singe_item{
  &:hover{
    background-color: #f8f8f8;
    .companyName{
      color: @mdc-blue-300;
    }
  }
  border-top: 1px solid @black12;
}