@import "~sc-colors/index.less";

.companyName{
  font-size: 14px;
  color: @mdc-grey-900;
}
.right_discription{
  padding-bottom: 5px;
}
.account_user{
  padding-right: 10px;
  color: @mdc-grey-600;
}
.paddingTop35{
  padding-top: 35px;
}
.score{
  font-size: 14px;
  color: #93a6b0;
  padding-left: 6px;
}
.flag{
  border-radius: 999px;
  padding: 2px 6px;
  margin-left: 8px;
}
.monitor{
  color: #87bfa4;
  background-color: #e7f2ed;
}
.Depth{
  background-color: #87bfa4;
  color: @white1;
}
.date{
  padding: 35px 20px 0 0;
  color: #539e76;
}
.singe_item{
  position: relative;
  padding: 20px 0 20px 20px;
  cursor: pointer;
  .companyName{
    float: left;
  }
  &:hover{
    background-color: #f8f8f8;
    .companyName{
      color: @mdc-blue-300;
    }
  }
  &:last-child{
    margin-bottom: 20px;
  }
  border-bottom: 1px dashed @black12;
  .text_label_first{
    position: absolute;
    top: 33px;
    right: 20px;
    border:1px solid @mdc-red-600;
    padding: 0 6px;
    color: @mdc-red-600;
  }
  .text_label{
    position: absolute;
    top: 35px;
    right: 20px;
    padding: 0 6px;
    border:1px solid @mdc-blue-grey-100;
    color: @mdc-blue-grey-100;
  }
}
.has_warning_counts{
  padding: 0 15px 0 0;
  .count_text {
    font-size: 12px;
  }
  .count{
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 999px;
    margin-left: 8px;
  }
  .date_time{
    padding-top: 8px;
    color: @mdc-grey-400;
  }
}

// 两种状态综合分与预警次数

.warning_count{
  .count{
    background-color: #bebf87;
    color: @white1;
    display: inline-block;
    width: 52px;
    text-align: center;
  }
  .count_text{
    color: #bebf87;
  }
}
.comprehensive{
  .count{
    background-color: #79a2b8;
    color: @white1;
    display: inline-block;
    width: 42px;
    text-align: center;
  }
  .count_text{
    color: #79a2b8;
  }
}
.warning_date{
  color: @mdc-grey-500;
  .count_text{
    font-size: 13px;
  }
  .date_time_w{
    font-size: 13px;
    color: @mdc-grey-500;
  }
}

.icon_number{
  width: 20px;
  height: 16px;
  display: block;
  float: left;
}
.red_1{
  background: url("imgs/accountProfile/red_1.png") 0 2px no-repeat;
  background-size: 14px;
}
.nomal_2{
  background: url("imgs/accountProfile/nomal_2.png") 0 2px no-repeat;
  background-size: 14px;
}
.nomal_3{
  background: url("imgs/accountProfile/nomal_3.png") 0 2px no-repeat;
  background-size: 14px;
}
.icon_new {
  width: 30px;
  height: 14px;
  display: block;
  background: url("imgs/accountProfile/icon_new.png") 0 2px no-repeat;
  background-size: 24px;
  float: left;
}