@import "~sc-colors/index.less";

.companyName{
  font-size: 14px;
  color: @mdc-grey-900;
}
.right_discription{
  padding: 20px 0 0 20px;
  .account_user{
    padding: 10px 0 20px 0;
    color: @mdc-grey-600;
  }
}
.score{
  font-size: 14px;
  color: #93a6b0;
  padding-left: 6px;
}
.flag{
  border-radius: 999px;
  padding: 2px 6px;
  margin-left: 8px;
}
.monitor{
  color: #87bfa4;
  background-color: #e7f2ed;
}
.Depth{
  background-color: #87bfa4;
  color: @white1;
}
.date{
  padding: 35px 20px 0 0;
  color: #539e76;
}
.singe_item{
  &:hover{
    background-color: #f8f8f8;
    .companyName{
      color: @mdc-blue-300;
    }
  }
  &:last-child{
    margin-bottom: 20px;
  }
  border-bottom: 1px dashed @black12;
}
.has_warning_counts{
  padding: 20px 15px 0 0;
  text-align: right;
  .count_text {
    font-size: 12px;
  }
  .count{
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 999px;
    margin-left: 8px;
  }
  .date_time{
    padding-top: 8px;
    color: @mdc-grey-400;
  }
}

// 两种状态综合分与预警次数

.warning_count{
  .count{
    background-color: #bebf87;
    color: @white1;
    display: inline-block;
    width: 42px;
    text-align: center;
  }
  .count_text{
    color: #bebf87;
  }
}
.comprehensive{
  .count{
    background-color: #79a2b8;
    color: @white1;
    display: inline-block;
    width: 42px;
    text-align: center;
  }
  .count_text{
    color: #79a2b8;
  }
}