@import '~sc-colors/index.less';

.expand {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  color: @mdc-blue-400;
  &:hover {
    cursor: pointer;
  }
  i{
    margin-right: 5px;
  }
}
