.infoCont {
  padding-top: 25px;
  padding-bottom: 30px;
  overflow: hidden;
  .info {
    width: 910px;
    float: left;
    font-size: 14px;
    .info-item {
      display: inline-block;
      position: relative;
      padding-left: 40px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      .label {
        position: absolute;
        color: #999;
        left: 0;
        line-height: 16px;
      }
      .item-cont {
        line-height: 16px;
        color: #212121;
      }
    }
  }
  .btn-wrap {
    width: 180px;
    float: right;
    .btn {
      width: 100%;
      border-radius: 4px;
    }
  }
}
.popCont {
  width: 250px;
}
.popBox {
  margin-left: 5px;
  color: #999;
}
.item-cont {
  // height: 16px;
  // overflow: hidden;
  line-height: 18px;
}
