@import '~sc-colors/index.less';

.box {
  overflow-y: auto;
  overflow-x:hidden;
  height: 647px;
  background-color: @mdc-white-darker;
  padding: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}
.searchBox {
  background-color: @mdc-white-darker;
  height: 50px;
  padding: 5px 10px;
}

.searchIcon {
  position: absolute;
  font-size: 18px;
  top: 8px;
  left: 3px;
  margin-left: 0;
  color: @black7;
  z-index: 1;
}
.point {
  width: 11px;
  height: 11px;
  display: inline-block;
  border-radius: 100% 100%;
  margin-right: 6px;
}
.blackPoint {
  composes: point;
  background-color: @black1;
}
.greyPoint {
  composes: point;
  background-color: @black16;
}
.text {
  font-size: 14px;
  color: @mdc-grey-600;
  line-height: 1em;
}
.riskText {
  margin-right: 19px;
}
.note {
  margin-top: 10px;
}
.hr {
  margin: 15px 0;
}
.button {
  width: 190px;
  height: 35px;
  margin-top: 13px;
}
@media (max-width: 1400px) {
}
