@import '~sc-colors/index.less';
.wrap{
  position: relative;
  float: right;
  margin-top: 22px;

  transition: all .3s;
  &:hover{
    .searchIcon{
      color: @mdc-blue-200;
    }
  }
}
.searchInput{
  &:hover{
    border: none;
    border-bottom: 1px solid @mdc-blue-200;
  }
  &:focus{
    border: none;
    color: @mdc-blue-grey-200;
  }
  float: left;
  width: 260px;
  height: 35px;
  padding-left: 20px;

  font-size: 14px;
  color: @mdc-blue-grey-400;

  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid @mdc-blue-grey-100 ;
}


.searchIcon{
  position: absolute;
  left: 0;
  top: 10px;

  font-size: 16px;
  color: @mdc-blue-grey-200;

  cursor: pointer;
}
.Active{
  .searchIcon{
    color: @mdc-blue-200;
  }
  .searchInput{
    border-bottom: 1px solid @mdc-blue-200 ;
  }
}
