@import "~sc-colors/index.less";
.wrap {
  background-color: @white1;
  .box-shadow-block;
  margin-top: 20px;
  padding: 20px;
}
.photo {
  width: 159px;
  height: 197px;
  float: left;
}
.info {
  width: 80%;
  float: left;
  //margin-left: 20px;
  padding-top: 30px;
  font-size: 14px;
  color: @mdc-grey-700;
}
.col {
  margin-bottom: 35px;
}
.icon {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}
.open {
  composes: icon;
  width: 19px;
  height: 12px;
  background-image: url(imgs/personReport/open.png);
}
.close {
  composes: icon;
  width: 17px;
  height: 12px;
  background-image: url(imgs/personReport/close.png);
}
.caseTime {
  color: @mdc-grey-500;
  margin-left: 10px;
}
