@import '~sc-colors/index.less';
.halfCell {
  height: 49px;
  display: inline-block;
  width: 50%;
  border-right: 1px solid @mdc-blue-grey-50;
  border-bottom: 1px solid @mdc-blue-grey-50;
}
.fullCell {
  height: 49px;
  display: inline-block;
  width: 100%;
  border-right: 1px solid @mdc-blue-grey-50;
  border-bottom: 1px solid @mdc-blue-grey-50;
}
.key {
  padding-left: 10px;
  height: 100%;
  line-height: 49px;
  display: inline-block;
  width: 180px;
  background-color: @black17;
}
.value {
  height: 100%;
  line-height: 49px;
  display: inline-block;
}