@import "~sc-colors/index.less";

.transition-all(@second: .3s) {
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all @second ease-in-out;
     -moz-transition: all @second ease-in-out;
       -o-transition: all @second ease-in-out;
          transition: all @second ease-in-out;
}

.wrap{
  float: right;
  margin-top: 21px;
  font-size: 14px;

  & > div {
    float: left;
    height: 26px;
    padding-left: 15px;
    margin-right: 14px;

    font-size: 14px;
    color: @mdc-blue-grey-200;
    line-height: 26px;
    border-left: 1px solid @mdc-blue-grey-50;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      span {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.menuBox {
  position: relative;
  cursor: pointer;
  i {
    padding-right: 5px;
  }

  span {
    cursor: pointer;
    -webkit-transition: color .3s ease-in-out;
       -moz-transition: color .3s ease-in-out;
        -ms-transition: color .3s ease-in-out;
         -o-transition: color .3s ease-in-out;
            transition: color .3s ease-in-out;

    &:hover {
      color: @mdc-blue-400;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.userIco {
  padding-right: 10px;
  width: 28px;
  height: 28px;
  background-image: url('imgs/navbar/userIco.png');
  background-size: 28px 28px;
  transition: all 0.3s ease-in-out;
}

.userItemBox{
  position: absolute;
  top: 75px;
  right: 0;
  width: 115px;
  padding: 5px 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.userItemBoxMain{
  margin-top: 20px;
  padding: 5px 0;
  background-color: @mdc-white-darker;
  .box-shadow-dropDown;
  &::before{
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: @mdc-white-darker;
    box-shadow: -1px -1px 0 #ccc;
    transform: rotate(45deg);
    z-index: 1;
  }
}

.userItemBoxHover{
  .userItemBox{
    top: 25px;
    visibility: visible;
    opacity: 1;
  }
  .userIco{
    background-image: url('imgs/navbar/userIco_hover.png');
  }
}

.userItem{
  font-size: 14px;
  line-height: 40px;
  color: @mdc-blue-grey-500;
  text-align: center;
  i{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: -4px;
    background-size: 20px 20px;
  }
  &:hover{
    color: @mdc-blue-400;
    .collection{
      background-image: url('imgs/navbar/collection_hover.png');
    }
    .account{
      background-image: url('imgs/navbar/account_hover.png');
    }
    .logout{
      background-image: url('imgs/navbar/logout_hover.png');
    }
  }
}

.collection{
  background-image: url('imgs/navbar/collection.png');
}
.account{
  background-image: url('imgs/navbar/account.png');
}
.logout{
  background-image: url('imgs/navbar/logout.png');
}

.searchBox{
  position: relative;
  &:hover {
    i {
      color: @mdc-blue-300;
    }
  }
}

.searchInputShow{
  float: left;
  width: 150px;
  height: 26px;
  color: @mdc-blue-grey-500;
  margin-right: 10px;
  background: transparent;
  transition: all 0.3s ease-in-out;

  &::-webkit-input-placeholder {
    color: @mdc-grey-400;
  }

  &:-moz-placeholder {
    color: @mdc-grey-400;
  }

  &::-moz-placeholder {
    color: @mdc-grey-400;
  }

  &:-ms-input-placeholder {
    color: @mdc-grey-400;
  }

  &:focus + span i {
    color: @mdc-blue-300;
  }
}

.searchInputHidden{
  width: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.searchIcon {
  float: right;
  font-size: 16px;
  line-height: 26px;
  margin-top: 2px;
  color: @mdc-blue-grey-200;
  cursor: pointer;
  i {
    font-size: 20px;
    -webkit-transition: color .3s ease-in-out;
       -moz-transition: color .3s ease-in-out;
        -ms-transition: color .3s ease-in-out;
         -o-transition: color .3s ease-in-out;
            transition: color .3s ease-in-out;
  }
}

.logout {
  text-align: center;
}

.downloadApp {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  background-image: url('imgs/navbar/codeIco.png');
  background-size: 20px 20px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-image: url('imgs/navbar/codeIco_hover.png');
    & + div {
      top: 50px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.code {
  width: 140px;
  padding: 10px;

  text-align: center;
  line-height: 120px;
  background-color: @mdc-white-darker;
  .box-shadow-dropDown;

  .codeText {
    margin-top: 10px;
    font-size: 14px;
    line-height: 14px;
    color: @mdc-blue-grey-400;
  }

  img {
    width: 120px;
    height: 120px;
  }
}
