@import '~sc-colors/index.less';

.bidMarketMap-sub-title {
  position: absolute;
  top: 38px;
  left: 0;

  font-size: 13px;
  line-height: 13px;
  color: @black7;

  z-index: 1;
}

.bidMarketMap-interval {
  position: absolute;
  top: 70px;
  left: 0;

  z-index: 1;
}

.bidMarketMap-round {
  float: left;
  margin-top: 1px;

  width: 10px;
  height: 10px;

  border-radius: 100px;
}

.bidMarketMap-round-text {
  float: left;
  margin-left: 10px;

  font-size: 12px;
  line-height: 12px;
  color: @black7;
}

.bidMarket-tips-block {
  position: relative;
  bottom: -505px;
  margin-left: -20px;
  margin-right: -20px;
}

.bidMarket-tips {
  position: absolute;
  left: 0;
  width: 100%;

  font-size: 12px;
  line-height: 20px;
  color: @blue2;

  background-color: @blue7;
  z-index: 1;
}
