.box {
  height: 75px;
  width: 100%;
  padding: 20px 0;
}
.text {
  float: left;
  height: 35px;
  line-height: 35px;
  width: auto;
  font-size:20px;
  color:#37474f;
  letter-spacing:0;
}
.searchWrap {
  float: right;
  margin: 5px 0 0 0;
  width:260px;
  height:24px;
  // background-color: #fff;
  border-bottom: 1px solid #64b5f6;
}
.searchWrap i {
  float: left;
  margin: 4px 0 0 0;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('../../../imgs/searchActive.png');
  background-size: auto;
  background-repeat: no-repeat;
}
.searchWrap input {
  float: left;
  margin: 3px 0 0 10px;
  height: 16px;
  line-height: 16px;
  width: 220px;
  font-size:14px;
  color:#b0bec5;
  letter-spacing:0;
  background: none;
}
