@import "~sc-colors/index.less";

.rm-info1 {
  float: left;
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
}

.rm-info-public {
  float: left;
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
}

.rm-info2,
.rm-info3 {
  .rm-info-public
}
@media (max-width: 1439px) {
  .rm-info1,
  .rm-info2,
  .rm-info3 {
    width: 100%;
    margin-bottom: 10px;
  }
}
.rm-info-box {
  padding: 30px 40px;
  border: 1px solid @black12;
}

.rm-info1-box {
  .rm-info-box;
  height: 330px;
}
.rm-info2-box,
.rm-info3-box {
  .rm-info-box;
  position: relative
}

.info1-box-block {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @black12;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom-color: transparent;

    .info1-box-title {
      line-height: 2em;
    }
    .info1-box-content {
      line-height: 2em;
    }
  }

  &:nth-of-type(2) {
    .info1-box-content {
      overflow: hidden;
      word-break: keep-all;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.info1-box-tc {
  font-size: 13px;
  line-height: 1em;
}

.info1-box-title {
  .info1-box-tc;
  float: left;
  width: 92px;
  color: @black5;
}

.info1-box-content {
  .info1-box-tc;
  float: right;
  width: 64%;
  color: @blue2;
  font-weight: bold;
}

.chart-title {
  position: absolute;
  top: 30px;
  left: 40px;

  font-size: 13px;
  color: @black5;
  line-height: 1em;
}

.chart-title-sub {
  position: absolute;
  top: 50px;
  left: 40px;

  font-size: 12px;
  color: @black7;
}
.noData {
  height: 268px;
}
.noDataContent {
  padding: 105px 0 0 75px;
}
.noDataBox {
  display: inline-block;
}
.noDataImg {
  float: left;
}
.noDataImg img {
  vertical-align: middle;
}
.noDataText {
  float: left;
  margin-top: 24px;
  margin-left: 15px;
  color: #666666;
}
.itemKeyData {
  max-width: 380px;
  text-align: center;
}
