.searchInputWrap {
  margin: 0;
  padding: 0;
}
.searchInput {
  float: left;
  width: 90%;
  height: 60px;
  line-height: 60px;
  padding: 0px 20px;
  border: 1px solid #42A5F5;
  color: #999999;
  font-size: 18px;
}
.searchButton {
  width: 10%;
  height: 60px;
  border-radius: 0;
  font-size: 20px;
  color: #ffffff;
  background-color: #42A5F5;
  border: none;
  outline: none;
}
.searchListWrap {
  margin: 0;
  padding: 0;
}
