.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.tdL {
  width: 35%;
  padding: 18px 10px;
  font-size: 14px;
  line-height: 14px;
  color: #616161;
  word-break: break-all;
  border: 1px solid #ECEFF1;
  background-color: #fcfcfc;
}
.tdR {
  padding: 18px 10px;
  font-size: 14px;
  line-height: 14px;
  color: #616161;
  word-break: break-all;
  border: 1px solid #ECEFF1;
}
