@import '~sc-colors/index.less';

.wrap {
  position: relative;
}

.bidMarket-black-title {
  font-size: 14px;
  color: @black1;
  line-height: 14px;
}

.bar-sub-title {
  font-size: 13px;
  line-height: 13px;
  color: @black7;
}
