@import '~sc-colors/index.less';

.container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;

  background-color: @mdc-white-darker;
  .box-shadow-block;

  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;

  &:hover {
    .box-shadow-block-click;
  }
}

.map {
  float: left;
  width: 60%;
}

.barAndDetail {
  float: left;
  width: 40%;
}
