.inputCss {
  width: 260px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  padding-left: 26px;
  top: -26px;
  right: 0;
  background-image: url(imgs/searchDefault.png);
  background-position-y: 4px;
  background-repeat: no-repeat;
}

.inputCss:hover {
  background-image: url(imgs/searchActive.png);
}

.inputCss:focus {
  background-image: url(imgs/searchActive.png);
}

.box {
  position: relative;
}