@import "../../../helpers/color.less";
.pdNone {
	padding: 0 0 0 10px!important;
}
.textNone {
	color: @white1;
}
.borderTop {
	border-top: 1px solid @black12;
}
.borderTopNone {
	border-top: 0px solid @black12;
}
.borderBottom {
	border-bottom: 1px solid @black12;
}
.borderBottomNone {
	border-bottom: 0px solid @black12;
}
.borderLeft {
	border-left: 1px solid @black12;
}
.borderLeftNone {
	border-left: 0px solid @black12;
}
.borderRight {
	border-right: 1px solid @black12;
}
.borderRightNone {
	border-right: 0px solid @black12;
}
