@import "~sc-colors/index.less";
.title {
  font-size: 16px;
  line-height: 1em;
  color: @mdc-grey-700;
  margin-bottom: 23px;
  font-weight: bold;
}
.operation {
  font-size:14px;
  margin-bottom: 22px;
  label {
    font-size:14px;
    color: @mdc-grey-600;
  }
}
.operaText {
  font-size: 14px;
  float: left;
  margin-right: 32px;
  color: @mdc-grey-800;
  line-height: 1em;
  line-height: 1em;
  margin-top: 3px;
  position: relative;
  padding-right: 34px;
}
.checkBox {
  float: left;
  margin-right: 50px;
}
.icon {
  background-image: url('imgs/companyHome/leftBar/loanIcon.png');
  width: 34px;
  height: 13px;
  display: block;
  background-size: 100% 100%;
  position: absolute;
  top: -7px;
  right: 0;
}
.line {
  width: 100%;
  position: absolute;
  left: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  border-top: 1px solid @mdc-blue-grey-100;
}
.confirm {
  width:100px;
  line-height: 35px;
  height: 35px;
  margin: auto;
  float: left;
  margin-right: 15px;
}
.pointText {
  margin-top: 10.5px;
  font-size: 14px;
  line-height: 14px;
  color: #b0bec5;
  float: left;

  a {
    font-size: 14px;
    line-height: 14px;
    color: #548fc2;
    text-decoration: underline;
  }

  i {
    margin-right: 6px;
    color: #90caf9;
  }
}
