@import '~sc-colors/index.less';
.header-navbar {
  position: absolute;
  width: 1200px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 46px;

  background-color: #fff;
  border-bottom: 1px solid rgba(52, 131, 233, .3);
  box-shadow: 0 3px 10px rgba(4, 4, 4, .2);
  z-index: 1;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.logo {
  width: 333px;
  height: 40px;
  margin-top: 23px;

  background-image: url('imgs/homePage/header_logo_cfca.png');
  background-repeat: no-repeat;
  background-position: left center;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.header-navbar-content {
  float: right;
}
.header-navbar-content li {
  float: left;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  list-style: none;
}
.header-navbar-menuBD {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: @blue2;

  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.header-navbar-content li a{
  display: block;
  position: relative;
  padding: 30px 20px;

  // color: @white1;
  color: @black4;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.header-navbar-content .active a {
  color: @blue1;
  font-weight: bold;
}
.header-navbar-content a:hover .header-navbar-menuBD {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.active .header-navbar-menuBD{
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.header-navbar-menu{
  float: left;
  font-size: 16px;
  margin-bottom: 0;
}
.header-navbar-btnGroup {
  float: right;
  margin-top: 24px;
  margin-left: 20px;
}
.header-navbar-btnGroup button {
  width: 100px;
  height: 32px;
  padding: 0;
}

.download-app, .login {
  font-size: 16px;
  text-align: center;
  line-height: 28px;

  background: transparent;

}
.download-app{
  border: 2px solid @white1;
  color: @white1;
  margin-right: 15px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.login {
  border:1px solid @blue2;
  border-radius: 50px;
  color: @black4;
  outline: none;
  transition: all .3s;
  &:hover {
    color: #fff;
    background-color: @blue2;
  }
}
.login-icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url('imgs/homePage/header_login_1.png') center center no-repeat;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.header-navbar-scroll {
  background-color: @white1;
  border-bottom-color: @black1_20;
}
.header-navbar-scroll li a {
  color: @black7;
}
.header-navbar-scroll .header-navbar-menuBD {
  background-color: @blue2;
}
.header-navbar-scroll li a:hover {
  color: @blue2;
}
.header-navbar-scroll li.active a {
  color: @blue2;
}
.header-navbar-scroll .download-app{
  color: @black8;
  border-color: @black8;
}
.header-navbar-scroll .logo {
  background-image: url('imgs/homePage/header_logo_2.png');
}
