@import "~sc-colors/index.less";

.header{
  border-bottom: 1px solid @black12;
  h2{
    font-size: 16px;
    color: @mdc-grey-700;
    padding: 18px 0 0 6px;
  }
  .account_icon_warning{
    display: block;
    width: 46px;
    height: 46px;
    margin: 6px 0 0 15px;
    background: url("imgs/accountProfile/new_accounticon.png")0 0 no-repeat;
  }
}