@import '~sc-colors/index.less';
.wrap {
  padding: 20px 20px 0 20px;
  background-color: @mdc-white-darker;
}
.type {
  color: @blue2;
  font-weight: bold;
  font-size: 13px;
}
.line {
  color: @black9;
  margin: 0 5px;
  font-size: 14px;
}
.title {
  color: @black1;
  font-size: 13px;
}
.col {
  float: left;
  width: 50%;
  margin-bottom: 15px;
}
.text {
  color: @black5;
  font-size: 13px;
}

.header {
  margin-bottom: 15px;
}
.titleInfo {
  float: left;
}
.date {
  float: right;
  color: @black4;
  font-size: 13px;
}
