.chartBox {
  position: relative;
  min-width: 650px;
}
.countLayer {
  position: absolute;
  text-align: center;
  width: 200px;
  top: 50%;
  left: 45%;
  margin-top: -25px;
  margin-left: -100px;
}
.num {
  line-height: 1;
  font-size: 36px;
  color: #999999;
}
.numLabel {
  line-height: 1;
  font-size: 13px;
  color: #999999;
}
.noData {
  background-color: #fff;
  margin-top: 100px;
}
