.wrap {
  margin-left: -30px;
  margin-right: -30px;
  padding: 15px 0 40px 0;
}
.addBtn {
  outline: none;
  width: 595px;
  height: 30px;
  margin-top: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #b0bec5;
  background-color: #fff;
  background-image: url(imgs/plus.png);
  background-repeat: no-repeat;
  background-position: 248px center;
  border: 1px dashed #cfd8dc;
}
.selectGroup {
  margin-bottom: 30px;
}
.selectGroup:last-of-type {
  margin-bottom: 0;
}
.inputCss {
  width: 128px;
  height: 20px;
  border-color: #42a5f5;
  line-height: 20px;
  vertical-align: middle;
}
.inputErrCss {
  composes: inputCss;
  border-color: #e25252;
}
.label {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  color: #616161;
  vertical-align: middle;
}
.yearLabel {
  composes: label;
}
.taxLabel {
  composes: label;
  margin-left: 30px;
}
.inputLabel {
  composes: label;
  margin-left: 30px;
}
.minusIcon {
  display: inline-block;
  width: 12px;
  height:12px;
  margin-left: 8px;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(imgs/minus.png);
  background-repeat: no-repeat;
  background-position: center;
}
