.wrap {
  float: right;
  margin: 6px 0 0 0;
  padding: 0;
}
.addMonitor {
  float: left;
  color: #42a5f5;
  text-align: center;
  cursor: pointer;
  border: 1px solid #42a5f5;
  width: 113px;
  height: 33px;
  line-height: 33px;
}
