.box {
  position: absolute;
  right: 0px;
  top: 0;
  cursor: pointer;
}
.text {
  position: relative;
  top: 2px;
  font-size:14px;
  color:#42a5f5;
  letter-spacing:0;
  line-height:14px;
}
.text2 {
  position: relative;
  top: 2px;
  font-size:14px;
  color:#bdbdbd;
  letter-spacing:0;
  line-height:14px;
}
.shareImgOpen {
  float: left;
  margin: 4px 7px 0 0;
  display: block;
  width: 13px;
  height: 13px;
  background-image: url('imgs/searchCompany/share1.png');
  background-repeat: no-repeat;
}
.shareImgDown {
  float: left;
  margin: 4px 7px 0 0;
  display: block;
  width: 13px;
  height: 13px;
  background-image: url('imgs/searchCompany/share2.png');
  background-repeat: no-repeat;
}
