.selectLine {
  float: left;
  margin-right: 30px;
}
.label {
  float: left;
  display: block;
  margin-right: 5px;
  line-height: 30px;
  font-size: 13px;
  color: #666666;
}
.selectBox {
  width: 120px;
  margin-right: 0;
  height: 25px;
  border-bottom: 1px solid #80b3ef;
}
.industrySelect {
  width: 290px;
  margin-right: 0;
  height: 25px;
  border-bottom: 1px solid #80b3ef;
}
.timeSelect {
  composes: selectBox;
  width: 100px;
  border-bottom: none;
  margin-right: -10px;
}
.timeInputCss {
  font-size: 16px;
  color: #3483e9;
}
