@import '~sc-colors/index.less';
.info {
  border-bottom: 1px dashed @black9;
}
.info-item {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
}
.title {
  margin-right: 3px;
  color: @black7;
}
.text {
  color: @black5;
}
