@import '~sc-colors/index.less';

.box {
  top: 45px;
  left: 15px;
  position: absolute;
  width: 240px;
  min-height: 90px;
  background: @white1;
  border: 1px @black12 solid;
  padding: 25px 15px;
  text-align: left;
  cursor: auto;
  z-index: 1;
}
.cancelStatus {
  color: @mdc-blue-400;
  font-size: 12px;
  border: 1px solid @mdc-blue-400;
  padding: 3px;
  margin-right: 5px;
}
.nodeName {
  // margin: 5px 0;
  color: @mdc-grey-900;
  font-size: 14px;
}
.link {
  display: block;
  margin: 5px auto;
  color: @white;
  width: 200px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: @mdc-blue-400;
  &:hover {
    color: @white;
  }
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.colseImg:hover {
  -webkit-transform: rotateZ(180deg);
     -moz-transform: rotateZ(180deg);
      -ms-transform: rotateZ(180deg);
       -o-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.colseImg {
  float: left;
  width: 10px;
  height: 10px;
  -webkit-transition: all ease-in-out .3s;
     -moz-transition: all ease-in-out .3s;
      -ms-transition: all ease-in-out .3s;
       -o-transition: all ease-in-out .3s;
          transition: all ease-in-out .3s;
}