@import '~sc-colors/index.less';

.swichDataTile {
  font-size: 13px;
  line-height: 20px;
  color: @black7;
}

.swichDataItem {
  float: left;
  
  & > div {
    float: left;
  }

  &:last-child {
    margin-left: 50px;
  }
}

