@import '~sc-colors/index.less';
.alert {
  color: @red1;
  margin-bottom: 15px;
}
.password-box {
  position: relative;
  span {
    line-height: 30px;
  }
  .password {
    width: 190px;
  }
  .error {
    position: absolute;
    left: 105px;
    line-height: 30px;
    color: @red1;
  }
}
.btn-box {
  margin-top: 40px;
  text-align: center;
  .cancelBtn {
    margin-right: 10%;
    width: 45%;
  }
  .confirmButton {
    width: 45%;
  }
}
