@import '~sc-colors/index.less';
.table-common {
  padding: 18px 10px;

  font-size: 14px;
  line-height: 14px;
  color: @mdc-grey-700;

  border: 1px solid @mdc-blue-grey-50;
}
.thead {
  th {
    .table-common;
    background-color: @black17;
  }
}