@import '~sc-colors/index.less';

.box {
  width: 40px;
  float: left;
  position: relative;
  margin-right: 15px;
}
.iconWrap {
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  text-align: center;
  padding: 0 5px;
}
.searchShow {
  padding: 0;
  width: 220px;
  position: absolute;
  right: 0;
  .iconContent {
    float: left;
    width: 40px;
    i {
      color: @mdc-blue-400;
    }
  }
  .searchInput {
    border-width: 0 0 0 1px;
    border-radius: 0;
    width: 176px;
    float: left;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    border-color: #e0e0e0;
  }
}
.searchHide {
  padding: 0;
  width: 40px;
  position: absolute;
  right: 0;
  transition: all 0.1s ease;
  .searchInput {
    width: 0;
    display: none;
  }
}
.iconContent {
  padding: 10px 0;
  i {
    font-size: 18px;
    color: @mdc-grey-400;
    cursor: pointer;
  }
}
.opera {
  margin-top: 55px;
}
.layerWrap{
  margin-top: 15px;
}
.hr {
  margin-top: 0;
  margin-bottom: 0;
}
.layer {
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  color: @mdc-grey-400;
  cursor: pointer;
}
.layerAct {
  composes: layer;
  color: @mdc-blue-400;
}
