@import "../../../../../helpers/color.less";
.riskLabel {
  float: left;
  display: block;
  margin: 4px 0 0 10px;
  color: @mdc-grey-600;
  border:1px solid @mdc-grey-600;
  border-radius:100px;
  width:93px;
  height:24px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
}