@import "../../../../../helpers/color.less";
.wrapper {
  position: relative;
  float: left;
  width: 49%;
}
.nameWrap {
  height: 25px;
  line-height: 14px;
}
.name {
  display: inline-block;
  max-width: 240px;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px;
  font-size: 16px;
  color: @mdc-grey-900;
  cursor: pointer;
}
.name:hover {
  color: @mdc-blue-400;
}
.mainLabel {
  display: inline-block;
  margin-left: 10px;
  height: 25px;
  padding: 0 15px;
  line-height: 25px;
  font-size: 14px;
  vertical-align: middle;
  border-radius: 14px;
}
.mainLabelBlue {
  composes: mainLabel;
  color: @mdc-blue-400;
  border: 1px solid @mdc-blue-400;
}
.mainLabelRed {
  composes: mainLabel;
  color: @mdc-red-600;
  border: 1px solid @mdc-red-600;
}
.viewWrap {
  margin-top: 11px;
  line-height: 13px;
  overflow: auto;
}
.actionBox {
  float: left;
  width: 50px;
  height: 13px;
  cursor: pointer;
}
.loadingBox {
  position: relative;
  width: 40px;
  height: 100%;
  left: -10px;
  top: -3px;
}
.btnText {
  font-size: 13px;
  margin-left: 5px;
  line-height: 1;
  color: @mdc-grey-700;
}
.icon {
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  background-position: 2px;
  background-repeat: no-repeat;
}
.down {
  composes: icon;
  background-image: url('imgs/monitorList/arrow-down.png');
}
.up {
  composes: icon;
  background-image: url('imgs/monitorList/arrow-up.png');
}
.relCount {
  float: left;
  max-width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 40px;
  color: @mdc-grey-500;
  vertical-align: text-top;
}
.relCount span {
  color: @mdc-grey-700;
  margin: 0 5px;
}
