.wrap {
  padding: 118px;
  text-align: center;
  img {
    width: 220px;
    height: 115px;
  }
  p {
    margin-top: 40px;
    color: #616161;
    span {
      color: #3297e9;
      font-weight: bold;
    }
  }
}
