@import '~sc-colors/index.less';

.title {
  float: left;
  margin-right: 10px;

  line-height: 20px;
  color: @black7;
}

.content {
  float: left;
}

.dateCheck {
  float: left;
}

.radioBox {
  margin-top: 20px;
}
