.mapRule{
  position: absolute;
  top: 40px;
  left: 0;

  width: 166px;

  z-index: 1;

  li {
    position: relative;
    padding-left: 20px;

    font-size: 13px;
    color: #A2A2A2;

    div {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;

      border-radius: 100px;
    }
  }
}
