@import "../../../../helpers/color.less";
.rTr {
  position: relative;
  padding: 16px;
  border-bottom: 1px dashed @mdc-grey-200;
}
.rTr:after {
  display: block;
  content: '';
  clear: both;
}
.rTr:nth-child(2) {
  border-top: 1px solid @mdc-grey-200;
}
.rTr:last-child {
  border-bottom: none;
}
.companyWrap {
  position: relative;
  float: left;
  width: 49%;
  font-size: 14px;
  line-height: 1;
}
.relationship {
  line-height: 20px;
  margin-right: 3px;
  color: @mdc-grey-900;
}
.timeWrap {
  float: left;
  width: 35%;
}
.relActionWrap {
  position: relative;
  float: right;
  height: 20px;
  width: 16%;
}
.relName {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  color: @mdc-grey-700;
  cursor: pointer;
}
.relName:hover {
  color: @mdc-blue-400;
}
