.tabBox {
  position: relative;
  padding: 40px 0;
  height: 546px;
  border-right: 1px solid #eeeeee;
}
.overBox {
  height: 100%;
  overflow: hidden;
}
.itemBox {
  position: relative;
  width: 100%;
  transition: all .3s ease;
}
.item {
  padding: 0 20px;
  margin-bottom: 30px;
  font-size: 13px;
  color: #9e9e9e;
  text-align: right;
  border-right: 3px solid #fff;
  cursor: pointer;
}
.item:hover {
  color: #42a5f5;
}
.activeItem {
  composes: item;
  color: #42a5f5;
  border-right: 3px solid #42a5f5;
}
.time {
  line-height: 30px;
  height: 30px;
}
.arrow {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.arrowUp {
  composes: arrow;
  top: 15px;
  background-image: url(imgs/arrow_up.png);
}
.arrowUpDis {
  composes: arrowUp;
  cursor: not-allowed;
}
.arrowDown {
  composes: arrow;
  bottom: 15px;
  background-image: url(imgs/arrow_down.png);
}
.arrowDownDis {
  composes: arrowDown;
  cursor: not-allowed;
}
