.box {

}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.table tbody tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.table tbody tr td:first-child {
  background-color: #fafafa;
}

.table thead {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.table thead tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  background-color: #fafafa;
}
.table thead tr th:first-child {
  background-color: #ffffff;
  position: relative;
}
.table .first:before{
  content: "";
  position: absolute;
  width: 1px;
  height:115px;
  top:0px;
  left:0px;
  background-color: #ECEFF1;
  display: block;
  transform: rotate(-69deg);
  transform-origin: top;
}

.table th {
  padding: 10px 10px;
  font-size: 14px;
  color: #616161;
  word-break: break-all;
  border: 1px solid #ECEFF1;
}
.table td {
  padding: 10px 10px;
  font-size: 14px;
  color: #616161;
  word-break: break-all;
  border: 1px solid #ECEFF1;
}
