.box {
  float: right;
  border:1px solid #42a5f5;
  width:113px;
  text-align: center;
  height:33px;
  line-height: 33px;
  font-size:14px;
  color:#42a5f5;
  letter-spacing:0;
  text-align:center;
  cursor: pointer;
}
