@import "~sc-colors/index.less";
.show {
  display: block;
  background: @white1;
  padding: 10px 15px;
  // .box-shadow-network
}
.hide {
  display: none;
}
.close {
  font-size: 15px;
  color: @black10;
  float: right;
}
