@import "~sc-colors/index.less";
.show {
  display: block;
  background: @white1;
  padding: 10px 15px;
  box-shadow: 0 0 6px rgba(0,0,0,0.16);
  // .box-shadow-network
}
.hide {
  display: none;
}
.close {
  font-size: 15px;
  color: @black10;
  float: right;
}
.slider {
  width: 73px;
  float: right;
  margin-right: 27px;
  padding-top: 4px;
}
.operation {
  border: 1px solid @mdc-blue-200;
  float: right;
  padding: 4px 15px;
}
.operation {
  color: @mdc-blue-400;
  i {
    font-size: 16px;
    cursor: pointer;
  }
}
.line {
  color: @mdc-blue-50;
  margin: 0 12.5px;
  font-size: 20px;
}
.operWrap {
  margin-bottom: 15px;
}
