.box {
  margin: 0;
  padding: 0;
}
.message {
  float: left;
  margin-top: 40px;
  width: 100%;
  font-size:14px;
  color:#607d8b;
  letter-spacing:0;
  line-height:14px;
  text-align:left;
}
.content {
  float: left;
  margin: 10px 0 0 0;
  height: auto;
  width: 800px;
  background:#ffffff;
  box-shadow:0 2px 4px 0 rgba(176,190,197,0.50);
}
.wrap {
  float: left;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 0 0 0 21px;
  font-size: 14px;
  color: #757575;
}

.wrap label span:first-child span{
  top: -1px;
}
.wrap label span:last-child {
  font-size: 14px;
  color: #757575;
}
