@import '~sc-colors/index.less';
.footer{
  padding-top: 40px;
  // padding-bottom: 100px;
  background-color: @white1;
}

.footer-logo {
  margin-bottom: 50px;
}

.footer-logo-img {
  float: left;
  width: 16px;
  height: 31px;
  margin-right: 10px;
  background-image: url('imgs/footer/footer_logo.png');
}

.footer-logo-text {
  float: left;
  margin-top: 5px;

  line-height: 25px;
  color: @black5;
}

.footer-menu{
  padding-left: 0;
  // margin-bottom: 20px;
  margin: 0 auto 20px auto;
  width: 1090px;
}
.footer-menu li {
  float: left;
  line-height: 24px;
  font-size: 14px;
  list-style: none;
}
.footer-menu li a{
  color: @black5;
}
.footer-menu li a:hover {
  color: @blue2;
}
.footer-home-icon {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 18px;
  top: 2px;
  margin-right: 3px;
  background: url('imgs/homePage/footer-home_1.png') center center no-repeat;
}

.footer-menu-star {
  width: 10px;
  height: 11px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
  position: relative;
  // background-color: @black5;
  // border-radius: 110px;
  &::before, &::after {
    display: block;
    content: '';
    width: 8px;
    height: 1px;
    background-color: @black5;
    position: absolute;
    right: 0;
  }
  &::before {
    transform: rotate(-45deg);
    top: 7px;
  }
  &::after {
    transform: rotate(45deg);
    top: 2px;
  }
}
.footer-title {
  font-size: 16px;
  color: @white1;
  opacity: 0.8;
  a {
    color: @white1;
    &:hover {
      color: @blue2;
    }
  }
}
.footer-text {
  line-height: 30px;
  color: @black5;
}
.mb-20{
  margin-bottom: 20px;
}

.detail{
  margin-left: 76px;
}
.footer-detail {
  margin-bottom: 20px;
}
.footer-detail-img {
  float: left;
  line-height: 1px;
}
.footer-detail-text {
  float: left;
  margin-left: 15px;
}

.footer-twoCode {
  float: right;
  margin-right: 40px;
}
.footer-twoCode-img {
  width: 88px;
  height: 88px;

  background-color: #eee;
}
.footer-twoCode-text {
  margin-top: 10px;
  text-align: center;
}
.police-text {
  float: left;
  margin-top: 2px;
  margin-left: 6px;
}

.footer-nav {
  background-color: #1b222b;
  padding: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.footer-nav-content {
  width: 1090px;
  margin: 0 auto;
}
