@import "../../../../helpers/color.less";
.wrapper {
  position: relative;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid @mdc-grey-200;
}
.wrapper:after {
  display: block;
  content: '';
  clear: both;
}
