.filter {
  height: 47px;
  border-bottom: 1px solid #eee;
  padding-left: 30px;
  overflow: hidden;
  li {
    float: left;
    margin-right: 20px;
    line-height: 46px;
    cursor: pointer;
    color: #bfbfbf;
    font-size: 14px;
    &.active {
      color: #4a4a4a;
    }
  }
}
