@import "~sc-colors/index.less";
.box {
  margin-bottom: 20px;
}
.text {
  margin-bottom: 10px;
  font-size: 14px;
  color: @mdc-grey-600;
}

.pointText {
  margin-top: 15px;

  font-size: 14px;
  line-height: 14px;
  color: #b0bec5;
  text-align: center;

  a {
    font-size: 14px;
    line-height: 14px;
    color: #548fc2;
    text-decoration: underline;
  }

  i {
    margin-right: 6px;
    color: #90caf9;
  }
}
