@import "~sc-colors/index.less";

.singeBox{
  float: left;
  width: 20%;
}
.title{
  font-size: 18px;
  color: @mdc-grey-600;
  padding-left: 18px;
  position: relative;
  .line_border{
    width: 2px;
    height: 18px;
    background-color: @mdc-grey-300;
    position: absolute;
    top: 4px;
    left: 0;
  }
}
.count{
  font-size: 48px;
  color: @mdc-blue-300;
  padding-left: 18px;
}
.unit{
  font-size: 14px;
  color: #8b9faa;
  padding-left: 10px;
}
