@import "~sc-colors/index.less";
.head_box{
  padding: 5px 0;
  border-bottom: 1px solid @black12;
}
.nav_icon{
  display: block;
  width: 66px;
  height: 20px;
  margin: 6px 0 0 15px;
  position: absolute;
  top: 14px;
  left: -15px;
}
.top10_red{
  background: url("imgs/accountProfile/top10_red.png")0 0 no-repeat;
  background-size: 66px;
}
.top10_blue{
  background: url("imgs/accountProfile/top10_blue.png") 0 0 no-repeat;
  background-size: 66px;
}
.questions_icon{
  display:block;
  width: 16px;
  height: 16px;
  margin: 20px 15px 0 0;
}
.infomation_tips{
  background: url("imgs/accountProfile/information_tips.png")0 0 no-repeat;
  background-size: 16px;
}
.pull_right{
  float: right;
  margin: 20px 20px 0 0;
}
.title{
  font-size: 16px;
  position: relative;
  .nav_text{
    padding: 20px 0 10px 70px;
  }
  .company{
    color: @mdc-grey-700;
  }
  .number{
    color: @mdc-grey-500;
    padding-left: 10px;
  }
}
.ppover_tittle{
  color: @mdc-blue-400;
}
.popover_with{
  width: 160px;
  p{
    font-size: 13px;
  }
  .tips{
    color: #bdbdbd;
  }
}