@import "~sc-colors/index.less";
.head_box{
  padding: 5px 0;
  border-bottom: 1px solid @black12;
}
.nav_icon{
  display: block;
  width: 46px;
  height: 46px;
  margin: 6px 0 0 15px;
}
.warning_icon01{
  background: url("imgs/accountProfile/icon_1.png");
}
.warning_icon02{
  background: url("imgs/accountProfile/icon_2.png");
}
.warning_icon03{
  background: url("imgs/accountProfile/icon_3.png");
}
.questions_icon{
  display:block;
  width: 23px;
  height: 23px;
  margin: 15px 15px 0 0;
}
.questions_01{
  background: url("imgs/accountProfile/icon_q1.png");
}
.questions_02{
  background: url("imgs/accountProfile/icon_q2.png");
}
.questions_03{
  background: url("imgs/accountProfile/icon_q3.png");
}
.pull_right{
  float: right;
  margin: 20px 20px 0 0;
}
.title{
  font-size: 16px;
  .nav_text{
    padding: 18px 0 0 6px;
  }
  .company{
    color: @mdc-grey-700;
  }
  .number{
    color: @mdc-grey-500;
    padding-left: 10px;
  }
}