@import "~sc-colors/index.less";

.button {
  width: 126px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 20px;
  padding-left: 35px;
  color: @mdc-white-darker;
  background-color: @mdc-blue-400;
  background-image: url(imgs/personCheck/whitePlus.png);
  background-repeat: no-repeat;
  background-position: 23px 11px;
  border-radius: 0px;
}
.button:hover {
  background-color: @mdc-blue-400;
}
.noData {
  min-height: 495px;
  text-align: center;
}
.img {
  margin-top: 60px;
}
.noDataInfo {
  padding: 30px 0;
  line-height: 1;
  color: @mdc-blue-200;
}
.noDataButton {
  float: right;
  margin-top: 20px;
}
.title{
  font-size: 20px;
  float: left;
  margin-top: 20px;
  color: #37474f;
}