@import "~sc-colors/index.less";

.singleList{
  position: relative;
  font-size: 14px;
  height: 151px;
  margin-bottom: 20px;
  .pull30{
    margin-left: 30px;
  }
  .staticWidth{
    width: 24%;
  }
  .leftCount{
    background-color: @mdc-grey-50;
    position: absolute;
    width: 30px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: table;
    span{
      display: table-cell;
      vertical-align: middle;
      border: 1px solid @mdc-blue-grey-50;
      border-right: none;
      text-wrap: none;
    }
  }
  table{
    width: 100%;
    td{
      padding: 14px 10px;
      border: 1px solid @mdc-blue-grey-50;
      color: @mdc-grey-600;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .tips{
    color: @mdc-grey-500;
  }
}