@import '~sc-colors/index.less';

.actionBox {
  margin: 10px -10px -10px -10px;
  background: @black15;
  height: 40px;
  line-height: 40px;
}
.actionFlow {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  color: @blue2;
  text-decoration: underline;
  &:hover{
    text-decoration: underline;
  }
}
.item {
  margin: 5px 0;
  color: @blue2;
}