@import "~sc-colors/index.less";
.itemBox {
  font-size: 14px;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-bottom: 20px;
  line-height: 1;
}
.labelLine {
  margin-bottom: 12px;
}
.viewBtn {
  float: right;
  color: #42a5f5;
  cursor: pointer;
}
.type {
  display: inline-block;
  color: #212121;
  margin-right: 15px;
  vertical-align: middle;
}
.label {
  display: inline-block;
  border: 1px solid #90caf9;
  padding: 4px 10px;
  line-height: 1;
  color:#90caf9;
  vertical-align: middle;
  border-radius: 12px;
}
.newsTitle {
  color: #757575;
}
.newsTime {
  float: right;
  color: #757575;
}
