.introduce {
  h1 {
    // font-size: 20px;
    // margin-bottom: 10px;
  }
  pre {
    max-height: 500px;
    overflow: auto;
    margin-bottom: 10px;
  }
  p, .pcontent {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .intro-code {
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: rgba(52, 131, 233, 0.05);
    border: 1px solid #efefef;
  }
  .list {
    margin-bottom: 10px;
    list-style: disc;
    list-style-position: inside;
    li {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
