@import "../../../helpers/color";

.noDataSetIng{
  text-align: center;
  padding: 120px 0;
  .imageBox{
    width: 255px;
    height: 133px;
    background: url("imgs/noData/no_data_report.png") 0 0 no-repeat;
    margin: 0 auto;
  }
  .tips{
    font-size: 14px;
    color: @mdc-grey-400;
    padding: 20px 0;
  }
}