@import '~sc-colors/index.less';
.wrap {
  line-height: 1
}
.title {
  font-size: 20px;
  margin-bottom: 25px;
  color: @mdc-blue-grey-800;
}
.label {
  font-size: 14px;
  float: left;
  color: @mdc-blue-grey-200;
  margin-right: 15px;
}
.row {
  margin-top: 20px;
}
.item {
  margin-left: 71px;
}
.date {
  composes: item;
  border-bottom: 1px solid @black12;
}
.date span span {
  border-bottom: none !important;
}
.date span span input:nth-of-type(1) {
  text-align: left;
}
.date span span input:nth-of-type(2) {
  text-align: right;
}
.searchInput {
  padding: 0;
  height: 20px;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid @black12;
  background: transparent;
  border-radius: 0;
  color: @mdc-blue-grey-400;
  font-size: 14px;
}
.searchInput:hover {
  border: none;
  border-bottom: 1px solid @black12;
  background: transparent;
  border-radius: 0 !important;
  color: @mdc-blue-grey-400;
}
.searchInput:focus {
  border: none;
  border-bottom: 1px solid @black12;
  box-shadow: none;
  color: @mdc-blue-grey-400;
}
.checkBox {
  float: left;
  margin-right: 9px;
  color: @mdc-blue-grey-400;
  margin-bottom: 10px;
  label {
    font-size: 14px;
  }
}
.checkBox:nth-last-child(1) {
  margin-right: 0;
}
.text {
  font-size: 14px;
  color: @mdc-blue-grey-400 !important;
}
@media (max-width: 1611px) {
  .checkBox:nth-last-child(3) {
    margin-right: 0;
  }
}
