.searchInputWrap {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 679px;
}
.searchInput {
  position: absolute;
  top: 0;
  right: 89px;
  width: 589px;
  height: 43px;
  line-height: 43px;
  padding: 0 20px;
  color: #999999;
  font-size: 18px;
  border-left: 1px solid #eeeeee;
}
.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 89px;
  height: 43px;
  border-radius: 0;
  font-size: 20px;
  color: #ffffff;
  background-color: #42A5F5;
  border: none;
  outline: none;
}
