@import "../../../../helpers/color.less";
.transition-all(@secend: .6s) {
  -webkit-transition:all @secend ease-in-out;
     -moz-transition:all @secend ease-in-out;
       -o-transition:all @secend ease-in-out;
          transition:all @secend ease-in-out;
}

.bannerInfoLeft {
  float: left;
  height: 118px;
  width: 100%;
}
.bannerInfoLeft > div > img {
  float: left;
}
.companyBox{
  margin-bottom: 5px;
}
.bannerInfoContent {
  float: left;
  width: 100%;
  .transition-all;
}
