@import '~sc-colors/index.less';

.companyBox {

}

.baseInfo {
  margin-top: 20px;
  margin-bottom: 26px;
}
.reportIcon {
  width: 56px;
  height: 66px;
  float: left;
  margin-right: 26px;
}
.companyName {
  font-size: 22px;
  color: @black1;
  line-height: 1em;
  margin-top: 5px;
  float: left;
}
.baseInfoBox {
  float: left;
}
