// 辅色
@white1: #ffffff;
@white2:#ffe2e2;
@green1:#43bf77;
@green2:#a0e6bd;
@green3: #9bcb65;
@green4: #c4ebad;
@yellow1:#ffbd3d;
@yellow2: #ffbc46;
@yellow3: #ffd050;
@yellow4: #ff8a34;
@red1:#e25252;
@bg:#f4fcf7;
@purple1: #645186;
@purple2: #a0a7e6;
@purple3: #626c91;
@blackPurple: #23262e;
@LightPurple: #2e313d;
@navHoverBgColor:#2e3241;
@headerHoverBgColor:#181e28;

// 文字颜色/背景色块/分割线
@black1:#000000;
@black1_20: rgba(0, 0, 0, 0.2);
@black1_50: rgba(0, 0, 0, 0.5);
@black2:#242a38;
@black3:#333746;
@black4:#333333;
@black5:#666666;
@black6:#5f626d;
@black7:#999999;
@black8:#bbbbbb;
@black9:#dddddd;
@black10:#e0e0e0;
@black11:#e5e5e5;
@black12:#eeeeee;
@black13:#f5f5f5;
@black14:#f9f9f9;
@black15:#fafafa;

// 主色及延展
@blue1:#067fff;
@blue2:#3483e9;
@blue2_30: rgba(52, 131, 233, 0.3);
@blue2_80: rgba(52, 131, 233, 0.8);
@blue3:#80b3ef;
@blue4:#c0ddff;
@blue5:#e7f2ff;
@blue6:#f6f8fa;
@blue7:#f4faff;
@blue8: #b0bec5;
@blue9: #3fb1e3;

@brown1: #bcaaa4;
