@import '~sc-colors/index.less';

.switchData {
  margin-bottom: 20px;
}

.province {
  float: left;
}

.date {
  float: left;
  margin-left: 20px;

  .content {
    width: 206px;
  }
}

.title {
  float: left;
  margin-right: 10px;
  
  line-height: 20px;
  color: @black7;
}

.content {
  float: left;
}
