@import "~sc-colors/index.less";

.values {
  margin-left: 10px;
}
.blueValue {
  composes: values;
  color: @mdc-blue-400;
}
.greyValue {
  composes: values;
  color: @mdc-grey-500;
}
.keys {
  float: left;
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: @mdc-grey-500;
}