@import '~sc-colors/index.less';
.contentWrap {
  position: relative;
  // z-index: 9;
  // min-width: 1215px;
  width: auto;
  margin-top: 20px;
  padding-bottom: 20px;
}
.contentWrap:after {
  display: block;
  content: '';
  clear: both;
}
.leftTabWrap {
  float: left;
  width: 250px;
  height: 100%;
}
.tabContentWrap {
  // margin-left: 270px;
  padding: 10px 20px;
  background: @mdc-white-darker;
  box-shadow: 0 2px 4px 0 rgba(176, 190, 197, 0.5);
  // overflow: hidden;
}
.bannerBox {
  margin-top: 20px;
  width: 100%;
  min-height: 144px;
  padding-top: 20px;
  box-shadow: 0 2px 4px 0 rgba(176, 190, 197, 0.5);
  background: #ffffff;
}
.loadingBox {
  position: relative;
  margin-top: 200px;
  text-align: center;
}
@media (max-width: 1611px) {
  .leftBar {
    width: 20%;
  }
  .content {
    width: 80%;
  }
}
