@import "~sc-colors/index.less";

.wrapper {
  position: relative;
  margin-bottom: 20px;
  padding: 18px 20px 18px 20px;
  font-size: 14px;
  background: @mdc-white-darker;
  //border: 1px solid @mdc-grey-200;
  transition: all .3s;
}
.wrapperMatch {
  composes: wrapper;
  cursor: pointer;
}
.wrapper{
  box-shadow: 0 2px 4px 0 rgba(176, 190, 197, 0.5);
}
.wrapper:hover {
  box-shadow: 0 4px 8px 2px rgba(176, 190, 197, 0.8);
}
.labelArrow {
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0;
  height: 0;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
}
.line1 {
  margin-bottom: 20px;
  line-height: 1;
}
.perNameBlue {
  color: #42a5f5;
  margin-right: 10px;
}
.perNameBlack {
  color: @mdc-grey-600;
  margin-right: 10px;
}
.relation {
  color: @mdc-grey-500;
  margin-right: 30px;
}
.idCardBlack {
  color: @mdc-grey-800;
}
.idCardGay {
  color: @mdc-grey-600;
}
.line2 {
  line-height: 1;
}
.line2:after {
  content: '';
  display: block;
  clear: both;
}
.values {
  margin-left: 10px;
}
.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 19px;
  height: 14px;
  margin-left: 10px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.match_show {
  composes: icon;
  background-image: url(imgs/personCheck/unlock.png);
  background-size: 10px;
}
.match_hide {
  composes: icon;
  background-image: url(imgs/personCheck/lock.png);
  background-size: 10px;
}
.noMatch_show {
  composes: icon;
  background-image: url(imgs/personCheck/unlock.png);
  background-size: 10px;
}
.noMatch_hide {
  composes: icon;
  background-image: url(imgs/personCheck/lock.png);
  background-size: 10px;
}
.checkTime {
  float: right;
  font-size: 14px;
  line-height: 1;
  color: @mdc-grey-500;
  border-left: 1px solid #e0e0e0;
  padding-left: 15px;
}
.noMatch_text{
 color: #9e9e9e;
}
