@import "~sc-colors/index.less";
.box {
  float: left;
  // width: 50%;
  height: 560px;
}
.newBusiness {
  composes: box;
  width: 100%;
  // padding-right: 10px;
  margin-bottom: 20px;
}
.provinceRank {
  composes: box;
  width: 50%;
  padding-right: 10px;
  margin-bottom: 20px;
}
.industryDist {
  composes: box;
  width: 50%;
  padding-left: 10px;
  margin-bottom: 20px;
}
.scaleDist {
  composes: box;
  width: 50%;
  padding-right: 10px;
}
.bgBox {
  position: relative;
  padding: 20px;
  height: 100%;
  background-color: @white1;
  box-shadow:0 2px 4px 0 rgba(176,190,197,0.50);
}
.chartTitle {
  position: absolute;
  top: 30px;
  left: 30px;
  color:#424242;
  z-index: 1;
  font-size: 14px;
  line-height: 14px;
}
@media screen and (max-width: 1366px) {
  .newBusiness, .provinceRank, .industryDist, .scaleDist {
    float: none;
    width: 100%;
    padding: 0;
  }
  .newBusiness, .industryDist {
    margin-bottom: 20px;
  }
}
