@import '~sc-colors/index.less';
.TittleText{
  padding: 5px 10px 10px 10px;
  border-bottom: 1px solid @mdc-blue-grey-50;
}

.messageCount{
  color: @mdc-blue-grey-300;
  margin: 0;
  line-height: 1em;
  padding: 5px 10px 10px 10px;
}