@import '~sc-colors/index.less';

.col {
  margin-bottom: 10px;
}
.key {
  font-size: 14px;
  line-height: 14px;
  color: @mdc-grey-600;
}
.value {
  font-size: 14px;
  line-height: 14px;
  color: @mdc-grey-600;
}
.valueClick {
  font-size: 14px;
  line-height: 14px;
  color: @mdc-grey-600;
  cursor: pointer;
  text-decoration: underline;
  &:hover{
    color: @mdc-blue-400;
  }
}
