.wrap{
  width: 100%;
}
.copyright{
  font-size: 13px;
  color: #999;
  background: #fafafa;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.bannerWrap{
  padding: 30px 0;
}
.bannerSingle{
  height: auto;
  padding: 5px 0;
}
.bannerKey {
  color: #999999;
  font-size: 16px;
}
.bannerValue {
  font-size: 16px;
  color: #666666;
  word-break: break-all;
}
