// .top-filter {
//   overflow: hidden;
//   margin: 20px 0;
//   background-color: #fff;
//   .filter {
//     float: left;
//     width: 900px;
//   }
//   .search {
//     float: right;
//     padding-top: 10px;
//     margin-right: 20px;
//   }
// }
.introduce {
  margin-top: 20px;
}
.left {
  width: 230px;
  float: left;
  background-color: #fff;
}
.right {
  background-color: #fff;
  float: right;
  width: 940px;
}
