.box {
  margin-top: 20px;
}
.infoRow {
  margin-bottom: 20px;
  color: #616161;
  font-size: 14px;
  line-height: 1
}
.icon {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-right: 7px;
  border-radius: 50%;
  vertical-align: middle;
}
.mainIcon {
  .icon;
  background-color: #42A5F5;
}
.relatedIcon {
  .icon;
  background-color: #43BF77;
}
