@import "../../helpers/color.less";
.col {
  padding: 0;
}
.wrap {
  background-color: @white1;
  padding: 30px 20px;
  .box-shadow-block
}
.companyWrap {
  padding: 0;
}
.riskCompany {
  overflow: auto;
  margin-top: 20px;
}
.riskCompanyNoData {
  composes: riskCompany;
  padding-top: 100px;
  background-color: @white;
  .box-shadow-block
}
.riskHeadlines {
  padding: 19px 0 10px;
}
.riskMessage {
  background-color: @white;
  .box-shadow-block
}
