@import '~sc-colors/index.less';
.svgBox {
  position: relative;
  cursor: move;
  border-left: 1px solid @black12;
  border-right: 1px solid @black12;
  border-bottom: 1px solid @black12;
}
.links {
  stroke: #999;
  stroke-opacity: 0.6;
}

// .nodes {
//   stroke: #fff;
//   stroke-width: 1.5px;
// }


.trans {
  opacity: 1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.show {
  display: block;
  // opacity: 1;
  // composes: trans;
}
.hide {
  display: none;
  // opacity: 0;
  // composes: trans;
}
.text {
  fill: #000;
  cursor: pointer;
  // composes: trans;
}
.arrow {
  fill: @black1;
}
.blackListNodes {
  cursor: pointer;
  stroke: none;
  fill: #000;
  // composes: trans;
}
.mainCompany {
  cursor: pointer;
  stroke: none;
  fill: #1f6480;
  // composes: trans;
}
.relativeCompany {
  cursor: pointer;
  stroke: none;
  fill: #308587;
  // composes: trans;
}
.relativePerson {
  cursor: pointer;
  stroke: none;
  fill: #c2a299;
  // composes: trans;
}
.otherNode {
  cursor: pointer;
  stroke: none;
  fill: #999999;
  // composes: trans;
}