@import '~sc-colors/index.less';

.links {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes {
  stroke: #fff;
  stroke-width: 1.5px;
}

.text {
  stroke: #000;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.arrow {
  fill: @black1;
}
.blackListNodes {
  cursor: pointer;
  stroke: none;
  fill: #000;
}
.mainCompany {
  cursor: pointer;
  stroke: none;
  fill: #1f6480;
}
.relativeCompany {
  cursor: pointer;
  stroke: none;
  fill: #308587;
}
.relativePerson {
  cursor: pointer;
  stroke: none;
  fill: #c2a299;
}
.otherNode {
  cursor: pointer;
  stroke: none;
  fill: #999999;
}