@import "~sc-colors/index.less";

.rules_box{
  margin-top: 20px;
  box-shadow: 0 2px 4px 2px rgba(176, 190, 197, 0.5);
  background-color: @white1;
}
.active_rules{
  height: 352px;
  overflow-y: auto;
}
.hit_rules{
  height: 352px;
  overflow-y: scroll;
}
.active_rules_err{
  padding: 146px 0 160px 0;
  //background-color: #fcfcfc;
}
.hit_rules_err{
  padding: 146px 0 160px 0;
  //background-color: #fcfcfc;
}