.inputCss {
  height: 25px;
  line-height: 25px;
  margin-top: 15px;
  padding-left: 26px;
  background-image: url(imgs/searchDefault.png);
  background-position: 0 4px;
  background-repeat: no-repeat;
}
.inputCss:hover {
  background-image: url(imgs/searchActive.png);
}
.inputCss:focus {
  background-image: url(imgs/searchActive.png);
}
