@import '~sc-colors/index.less';
.createBtn {
  width: 110px;
  height: 35px;
  line-height: 35px;
}
.createBtn:hover {
  color: @mdc-white-darker;
  background: @mdc-blue-400;
  border: 1px solid @mdc-blue-400;
}
.plusIcon{
  vertical-align: top;
  font-size: 20px;
  margin-right: 5px;
}
