@import "../../../../../helpers/color.less";
.wrap {
	width: 100%;
	margin-top: 20px;
  border-bottom: 1px solid @black10;
}
.wrap:after {
  display: block;
  content: '';
  clear: both;
}
.tabItem {
  position: relative;
  top: 1px;
  float: left;
  padding: 0 20px 13px;
  line-height: 1;
  font-size: 13px;
  color: @mdc-blue-grey-400;
  cursor: pointer;
	margin-right: 42px;
}
.tabDisable {
	composes: tabItem;
	cursor: not-allowed;
}
.tabActItem {
  composes: tabItem;
  font-size: 14px;
  color: @mdc-blue-400;
  border-bottom: 2px solid @mdc-blue-400;
}
@media (max-width: 1457px) {
  .tabItem {
    padding: 0 13px 15px;
		margin-right: 31px;
  }
}
