@import '~sc-colors/index.less';
.bannerBtnLeft {
  float: left;
  margin: 19px 0 0 10px;
  font-size:14px;
  color:@mdc-grey-600;
  text-decoration: underline;
  cursor: pointer;
}
.bannerLines{
  float: left;
  margin: 22px 0 0 10px;
  height: 16px;
  width: 0;
  border-right: 1px solid @black11;
}