.box {
  float: left;
  font-size:13px;
  color:#757575;
  letter-spacing:0;
  text-align:left;
}
.box span i {
  color: #c23531;
  margin: 0 3px;
  font-style: normal;
}
.myCompany {
  margin-left: 10px;
  padding: 2px 8px;
  border:1px solid #e0e0e0;
}
.riskCompany {
  margin-left: 10px;
  padding: 2px 8px;
  border:1px solid #e0e0e0;
}
