@import "../../../../helpers/color.less";
.wrap {
  min-width: 200px;
  padding: 25px 0;
  font-size: 14px;
  background-color: @mdc-white-darker;
  box-shadow: 0 2px 4px 0 rgba(176, 190, 197, 0.5);
}
.menuCss {
  position: relative;
  line-height: 1;
  padding: 15px 0;
  padding-left: 30px;
  color: @mdc-grey-800;
  cursor: pointer;
}
.menuDisCss {
  composes: menuCss;
  color: @mdc-grey-300;
  cursor: not-allowed;
}
.arrow {
  position: absolute;
  right: 20px;
  top: 19px;
  display: block;
  width: 9px;
  height: 6px;
  color: @mdc-grey-400;
  transition: all .15s ease;
}
.arrowAnim {
  transform: rotate(180deg);
}
.itemCss {
  line-height: 1;
  padding: 15px 0;
  padding-left: 60px;
  color: @mdc-grey-600;
  cursor: pointer;
}
.itemActCss {
  composes: itemCss;
  color: @mdc-blue-400;
  background: @mdc-blue-grey-50-opacity-20;
  border-right: 3px solid @mdc-blue-400;
}
.itemDisCss {
  line-height: 1;
  padding: 15px 0;
  padding-left: 60px;
  color: @mdc-grey-300;
  cursor: not-allowed;
}
.itemCss:hover {
  color: @mdc-blue-400;
  background: @mdc-blue-grey-50-opacity-20;
  border-right: 3px solid @mdc-blue-400;
}
.hide {
  display: none;
}
