.box {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 560px;
  border:1px solid #eeeeee;
}
.loadingWrap {
  float: left;
  width: 100%;
  height: 100%;
}
.loading {
  margin: 0 auto;
  margin-top: 55px;
  width: 500px;
  height: 500px;
  background-image: url('../../../../../imgs/sixStar/loading.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.noMessage {
  width: 100%;
  text-align: center;
  line-height: 45px;
  background: #fcfcfc;
}
.msgCon {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.msgImg {
  float: left;
  width: 35px;
  height: 23px;
  background-image: url('../../../../../imgs/not_data_text.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.msgText {
  float: left;
  margin-left: 10px;
  line-height: 23px;
  color: #9E9E9E;
}
