.box {
  margin: 0;
  padding: 0;
}
.title {
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size:14px;
  color:#616161;
  letter-spacing:0;
  height: 14px;
  line-height:14px;
}
.content {
  width: 100%;
}
