.section1 {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  color: #666;
  font-size: 14px;
}
.title {
  float: left;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-bottom: 0px solid #e5e5e5;
}
.title div{
  float: left;
  width: 100%;
  padding: 0 10px;
  line-height: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.content {
  float: left;
  width: 100%;
}
.content div{
  float: left;
  width: 100%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
