@import "../../../../helpers/color.less";
.wrapper {
  margin-bottom: 20px;
  background: @mdc-white-darker;
  transition: all .5s;
}
.wrapperAct {
  composes: wrapper;
  box-shadow: 0 4px 8px 2px rgba(176, 190, 197, 0.8);
}
