@import '~sc-colors/index.less';

@bannerShapeImg: 45deg;

.home-banner {
  position: relative;
  width: 100%;
  height: 680px;
  background-image: url('imgs/homePage/banner_cfca.png');
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  -webkit-background-position: center center;
  background-position: center center;
}
.webGL{
  position: absolute;
  top: 0;
  left: 0;
}
.home-banner h1 {
  margin-top: 250px;
  margin-bottom: 30px;

  font-size: 42px;
  color: @white1;
  text-align: center;
  line-height: 1em;

  opacity: 0;

  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
}
.home-banner p{
  margin-bottom: 15px;

  font-size: 18px;
  color: @white1;
  text-align: center;
  line-height: 1em;

  opacity: 0;
}
.banner-shape {
  position: absolute;
  top: 420px;
  left: 50%;
  width: 195px;
  height: 170px;

  text-align: center;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

}
.banner-shape:hover {
  -webkit-transform: translateX(-50%) scale(1.1, 1.1);
  -moz-transform: translateX(-50%) scale(1.1, 1.1);
  -ms-transform: translateX(-50%) scale(1.1, 1.1);
  -o-transform: translateX(-50%) scale(1.1, 1.1);
  transform: translateX(-50%) scale(1.1, 1.1);
}

.banner-shape-img1,
.banner-shape-img2,
.banner-shape-img3,
.banner-shape-img4,
.banner-shape-img5,
.banner-shape-text
{
  position: absolute;
  top: 0;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.banner-shape-img2 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.banner-shape-img6 {
  position: absolute;
  top: 0;

  opacity: 0;

  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  transform: scale(2, 2);
}

.banner-shape:hover .banner-shape-img2{
  -webkit-transform: rotate(@bannerShapeImg * 4);
  -moz-transform: rotate(@bannerShapeImg * 4);
  -ms-transform: rotate(@bannerShapeImg * 4);
  -o-transform: rotate(@bannerShapeImg * 4);
  transform: rotate(@bannerShapeImg * 4);
}
.banner-shape:hover .banner-shape-img3{
  -webkit-transform: rotate(@bannerShapeImg * 1);
  -moz-transform: rotate(@bannerShapeImg * 1);
  -ms-transform: rotate(@bannerShapeImg * 1);
  -o-transform: rotate(@bannerShapeImg * 1);
  transform: rotate(@bannerShapeImg * 1);
}
.banner-shape:hover .banner-shape-img4{
  -webkit-transform: rotate(@bannerShapeImg * 2);
  -moz-transform: rotate(@bannerShapeImg * 2);
  -ms-transform: rotate(@bannerShapeImg * 2);
  -o-transform: rotate(@bannerShapeImg * 2);
  transform: rotate(@bannerShapeImg * 2);
}
.banner-shape:hover .banner-shape-img5{
  -webkit-transform: rotate(@bannerShapeImg * 3);
  -moz-transform: rotate(@bannerShapeImg * 3);
  -ms-transform: rotate(@bannerShapeImg * 3);
  -o-transform: rotate(@bannerShapeImg * 3);
  transform: rotate(@bannerShapeImg * 3);
}
.banner-shape:hover .banner-shape-img6{
  opacity: 1;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  -webkit-transform: scale(1, 1) rotate(@bannerShapeImg * 3);
  -moz-transform: scale(1, 1) rotate(@bannerShapeImg * 3);
  -ms-transform: scale(1, 1) rotate(@bannerShapeImg * 3);
  -o-transform: scale(1, 1) rotate(@bannerShapeImg * 3);
  transform: scale(1, 1) rotate(@bannerShapeImg * 3);
}
.banner-shape-text {
  top: 28px;
  width: 100%;

  font-size: 16px;
  color: #a1caff;
}

.home-box1 {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #fff;
}

.box-title {
  margin-bottom: 20px;

  font-size: 38px;
  color: @black4;
  line-height: 1em;
  text-align: center;
}
.title-cfca {
  color: @blue1;
}
.box-content {
  margin-bottom: 12px;

  font-size: 14px;
  line-height: 1em;
  color: @black7;
  text-align: center;
}

.home-box1-content{
  width: 1136px;
  margin: 0 auto;
}
.home-box1-content li {
  margin-right: 124px;
  float: left;
  position: relative;

  text-align: center;

  list-style: none;
}
.home-box1-content li:last-child {
  margin-right: 0;
}
.box1-relative1, .box1-relative2 {
  position: absolute;
  width: 100px;
  height: 30px;
}
.box1-relative1 {
  top: -30px;
  left: 140px;
}
.box1-relative2 {
  top: 50px;
  left: 140px;
}
.box1-content-title {
  margin-bottom: 15px;
  font-size: 18px;
  // color: @black5;
  color: @blue1;
  line-height: 1em;
}
.box1-content-txt {
  margin-bottom: 0;
  font-size: 14px;
  color: @black7;
  line-height: 1em;
}
.home-box1-img {
  margin-bottom: 60px;
}
.home-box2 {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: @black12;
}
.home-box2-content {
  width: 1090px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 48px;
}
.box2-content-itemL, .box2-content-itemR
{
  width: 260px;
  height: 300px;
  background-color: #fff;
}
.box2-content-itemL {
  float: left;
  margin-right: 14px;
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
  &:last-child {
    margin-right: 0;
  }
}
.box2-content-itemR {
  float: right;
}
.box2-item-img {
  height: 95px;
}
.box2-item-title {
  margin-top: 25px;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 1em;
  text-align: center;
  color: @blue2;
}
.box2-item-txt {
  margin-top: 10px;
  margin-bottom: 0;

  font-size: 12px;
  line-height: 24px;
  color: @black7;
}
// .box2-content-block2 {
//   margin-top: 56px;
// }
.home-box1-content {
  padding-top: 68px;
  padding-left: 0;
  margin-bottom: 0;

  opacity: 0;

  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
}
.home-box1-txt,
.home-box2-txt,
.box2-content-block1,
.box2-content-block2
{
  opacity: 0;

  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
}
.banner-arrow {
  position: absolute;
  bottom: 40px;
  width: 100%;

  text-align: center;
}

.banner-arrow {
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;

  -webkit-animation-name: arrowDown;
  -moz-animation-name: arrowDown;
  -ms-animation-name: arrowDown;
  animation-name: arrowDown;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;

  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -ms-animation-direction: normal;
  animation-direction: normal;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear
}

@-webkit-keyframes arrowDown {
  0%,100% {
    opacity: .5;
    transform: translateY(0)
  }

  50% {
    opacity: 1;
    transform: translateY(5px)
  }
}

@-moz-keyframes arrowDown {
  0%,100% {
    opacity: .5;
    transform: translateY(0)
  }

  50% {
    opacity: 1;
    transform: translateY(5px)
  }
}

@-ms-keyframes arrowDown {
  0%,100% {
    opacity: .5;
    transform: translateY(0)
  }

  50% {
    opacity: 1;
    transform: translateY(5px)
  }
}

@keyframes arrowDown {
  0%,100% {
    opacity: .5;
    transform: translateY(0)
  }

  50% {
    opacity: 1;
    transform: translateY(5px)
  }
}

.banner-arrow-img {
  cursor: pointer;
}
