@import '~sc-colors/index.less';
.svgBox {
  position: relative;
  cursor: move;
  border-left: 1px solid @black12;
  border-right: 1px solid @black12;
  border-bottom: 1px solid @black12;
}


// .nodes {
//   stroke: #fff;
//   stroke-width: 1.5px;
// }
.trans {
  opacity: 1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.trans1 {
  opacity: 1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
}
.show {
  // display: block;
  opacity: 1;
  composes: trans;
}
.hide {
  // display: none;
  opacity: 0;
  composes: trans;
}
.links {
  stroke: #999;
  stroke-opacity: 0.6;
  composes: trans;
}
.nodeText {
  fill: white;
  cursor: pointer;
  composes: trans;
  font-size: 12px;
}
.hideText {
  fill: white;
  opacity: 0;
  cursor: pointer;
  composes: trans1;
}
.arrow {
  fill: #e5e5e5;
}

.focusNode {
  cursor: pointer;
  stroke: @yellow1;
  stroke-width: 2px;
  fill: @yellow1;
  composes: trans;
}
.searchNode {
  cursor: pointer;
  stroke: @red1;
  stroke-width: 2px;
  fill: @red1;
  composes: trans;
}
.cancelNodes {
  cursor: pointer;
  stroke: none;
  fill: #bbbbbb;
  composes: trans;
}
.blackListNodes {
  cursor: pointer;
  stroke: none;
  fill: #000;
  composes: trans;
}
.mainCompany {
  cursor: pointer;
  stroke: none;
  fill: #3a637f;
  composes: trans;
}
.category1 {
  cursor: pointer;
  stroke: none;
  fill: #c23531;
  composes: trans;
}
.category2 {
  cursor: pointer;
  stroke: none;
  fill: #dd9177;
  composes: trans;
}
.category3 {
  cursor: pointer;
  stroke: none;
  fill: #bda29a;
  composes: trans;
}
.category4 {
  cursor: pointer;
  stroke: none;
  fill: #448587;
  composes: trans;
}
.category5 {
  cursor: pointer;
  stroke: none;
  fill: #91c7ae;
  composes: trans;
}
.category6 {
  cursor: pointer;
  stroke: none;
  fill: #bd8b43;
  composes: trans;
}
.category7 {
  cursor: pointer;
  stroke: none;
  fill: #749f83;
  composes: trans;
}
.category8 {
  cursor: pointer;
  stroke: none;
  fill: #6e7074;
  composes: trans;
}
.relativeCompany {
  cursor: pointer;
  stroke: none;
  fill: #4ab2e8;
  composes: trans;
}
.relativePerson {
  cursor: pointer;
  stroke: none;
  fill: #365ebf;
  composes: trans;
}
@keyframes graphAnimate {
  from{transform: scale(0, 0)}
  to{transform: scale(1, 1)}
}
.boxFullScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  animation: graphAnimate 1s;
  background-color: @mdc-white-darker;
  transition: all 1s;
  padding-right: 20px;
}
.noActive {
  fill: #CFD0D4;
}
.lineNoActive {
  stroke: #EEEFF3;
}
