@import '~sc-colors/index.less';

.navbar {
  position: fixed;
  width: 100%;
  height: 70px;

  background-color: @mdc-white-darker;

  z-index: 1000;
}

.navbarBottomBorder {
  width: 100%;
  height: 1px;

  background-color: @mdc-blue-grey-100;
  opacity: 0.6;
}
