.wrap{
  width: 100%;
  height: 32px;
  margin-top: 20px;
  line-height: 32px;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  margin-top: 40px;
}
.module{
  display: block;
  float: left;
  padding: 0 15px;
  color: #fff;
  background: #3483e9;
}
.moduleArrow{
  display: block;
  float: left;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-right: none;
  border-bottom: 16px solid transparent;
  border-left: 10px solid #3483e9;
}
.subModule{
  display: block;
  float: left;
  margin-left: 10px;
  color: #3483e9;
}
