.filters {
  background-color: #fff;
  padding: 10px 0;
  li {
    padding-left: 35px;
    height: 50px;
    line-height: 50px;
    color: #757575;
    cursor: pointer;
    font-size: 16px;
    .imgBox {
      margin-right: 23px;
      display: inline-block;
      width: 25px;
      height: 25px;
      background-size: 25px 25px;
      position: relative;
      top: 7px;
      // img {
      //   width: 25px;
      // }
    }
    .all {
      background-image: url('imgs/interface/all_1.png');
    }
    .person {
      background-image: url('imgs/interface/person_1.png');
    }
    .business {
      background-image: url('imgs/interface/business_1.png');
    }
    .risk {
      background-image: url('imgs/interface/risk_1.png');
    }
    .manage {
      background-image: url('imgs/interface/manage_1.png');
    }
    &:hover, &.active {
      background-color: #F6F9FD;
      color: #000;
    }
    &.active {
      border-right: 2px solid #4A90E2;
      .all {
        background-image: url('imgs/interface/all_2.png');
      }
      .person {
        background-image: url('imgs/interface/person_2.png');
      }
      .business {
        background-image: url('imgs/interface/business_2.png');
      }
      .risk {
        background-image: url('imgs/interface/risk_2.png');
      }
      .manage {
        background-image: url('imgs/interface/manage_2.png');
      }
    }
  }
}
