@import '~sc-colors/index.less';

.box {
  margin-bottom: 10px;
}
.mainTitle {
  font-size: 14px;
  line-height: 14px;
  color: @mdc-grey-900;
  margin-right: 20px;
}
.mainTitleClick {
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  color: @mdc-grey-900;
  margin-right: 20px;
  text-decoration: underline;
  &:hover{
    color: @mdc-blue-400;
  }
}

.subTitle {
  display: inline-block;
  border-radius: 100px;
  background: @white1;
  font-size: 13px;
  border: 1px solid @mdc-blue-200;
  color: @mdc-blue-200;
  padding: 1px 10px;
  margin-right: 10px;
}