@import "~sc-colors/index.less";

.addJob-box2-block {
  height: 295px;
  border: 1px solid @black12;
}

.addJob-date-title {
  position: relative;
  width: 91.85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  padding-bottom: 24px;

  text-align: center;
  border-bottom: 1px solid @black13;
}

.date-title-txt{
  font-size: 24px;
  line-height: 1em;
  color: @blue2;
}

.addJob-date-content {
  position: relative;
  width: 91.85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.angle-left,
.angle-right
{
  position: absolute;
  bottom: 20px;

  font-size: 32px;
  line-height: 1em;
  color: @black9;
  cursor: pointer;
}
.angle-left {
  left: 26px;
}
.angle-right {
  right: 26px;
}

.little-round1,
.little-round2
{
  display: inline-block;;
  width: 10px;
  height: 10px;
  margin-top: 1px;

  border-radius: 100px;
}
.little-round1{
  background-color: @green1;
}
.little-round2{
  margin-left: 5px;
  background-color: @blue2;
}
.little-round2-mln{
  margin-left: 0;
}

.date-item-round-active {
  background-color: @black12;
}

.date-content-item {
  position: relative;
  float: left;
  width: 25%;

  border-right: 1px solid @black13;
  border-bottom: 1px solid @black13;
}
.date-content-item:nth-of-type(4n) {
  border-right: none;
}
.date-content-item:nth-of-type(9) {
  border-bottom: none;
}
.date-content-item:nth-of-type(10) {
  border-bottom: none;
}
.date-content-item:nth-of-type(11) {
  border-bottom: none;
}
.date-content-item:nth-of-type(12) {
  border-bottom: none;
}

.date-item-round {
  width: 50px;
  height: 50px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;

  font-size: 20px;
  text-align: center;
  line-height: 50px;
  color: @black8;

  border-radius: 100px;
}
.date-item-round-active {
  background-color: @black12;
}
.date-item-round-isHas {
  color: @black5;
  cursor: pointer;
}

.item-little-round {
  position: absolute;
  bottom: 0;
  width: 100%;

  text-align: center;
}
