.historyWrap {
  margin: 0;
  padding-top: 55px;
}
.start {
  display: inline-block;
  font-size: 14px;
  margin-right: 20px;
}
.historyText {
  color: #9FB1B9;
}
.tip {
  margin-top: 15px;
}
.item {
  color: #9FB1B9;
  margin: 0 20px 5px 0;
  display: inline-block;
  padding: 0 15px 0 0;
  font-size: 13px;
  transition: all 0.3s ease-out;
  line-height: 23px;
  height: 23px;
}
.item:hover {
  cursor: pointer;
}
