@import "~sc-colors/index.less";
.wrap {
  padding: 20px;
  line-height: 1em;
  color: @mdc-grey-800;
  font-size: 14px;
}
.companyName {
  font-size: 18px;
  line-height: 1em;
  margin-bottom: 15px;
  color: @mdc-blue-400;
}
.description {
  color: @mdc-grey-800;
  font-size: 14px;
}
.relateCompany {
  margin-top: 15px;
}
