@import "~sc-colors/index.less";
.btn {
  height: 36px;
  line-height: 36px;
  margin-right: 10px;
  padding: 0 12px;
}
.btnLoan {
  composes: btn;
  background-color: @mdc-orange-500;
  border: 1px solid @mdc-orange-500;
}
.btnColec {
  composes: btn;
  border: 1px solid @mdc-blue-400;
  color: @mdc-blue-400;
}
.collection {
  margin-right: 2px;
}
