// .fl-selcet {
//   width: 80px;
//   :global .ant-select-selection {
//     border: none;
//   }
// }
.inputBox {
  // display: inline-block;
  width: 190px;
}
.flt-input {
  height: 28px;
  line-height: 26px;
}
