.inputCss {
  position: relative;
  top: -50px;
  float: right;
  width: 260px;
  height: 20px;
  padding: 0 0 5px 26px;
  background-image: url(imgs/searchDefault.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.inputCss:hover {
  background-image: url(imgs/searchActive.png);
}
.inputCss:focus {
  background-image: url(imgs/searchActive.png);
}
