@import "~sc-colors/index.less";

.newAcconut_box{
  margin-top: 20px;
  box-shadow:0 2px 4px 2px @mdc-blue-grey-200;
  background-color: @white1;
}
.newAccountBody_box{
  height: 350px;
  overflow-y: auto;
}
.padding_center{
  padding: 150px 0 155px 0;
  background-color: #fcfcfc;
}