@import "~sc-colors/index.less";
.title {
  font-size: 14px;
  line-height: 1em;
  color: @mdc-grey-600;
  margin-bottom: 17px;
  font-weight: bold;
  margin-top: 5px;
}
.text {
  background-color: @black15;
  color: @mdc-grey-500;
  font-size: 14px;
  line-height: 1.5em;
  padding: 7px 10px 8px;
  border: 1px solid @mdc-grey-200;
  span {
    color: @mdc-grey-600;
    font-weight: bold;
  }
}
.content {
  margin-top: 268px;
  color: @mdc-grey-500;
  font-size: 14px;
  text-align: center;
  margin-bottom: 531px;
}
