.wrapList {
  padding: 0;
}
.listDataWrap {
  margin: 0;
  padding: 0;
}
.pageWrap {
  text-align: center;
  margin: 0 0 20px 0;
  padding-top: 10px;
}
.noCompany {
  margin-top: 15px;
  // box-shadow: 0 2px 4px 0 rgba(176,190,197,.5);
  padding: 20px 15px;
  // color: #999;
}
.noSearchImg {
  margin: 0 auto;
  margin-top: 100px;
  width: 160px;
  height: 53px;
  background-image: url('imgs/searchCompany/noSearch.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.noSearchCon {
  margin: 0 auto;
  margin-top: 50px;
  width: 250px;
}
.noSearchTitle {
  font-size:14px;
  color:#90a4ae;
  letter-spacing:0;
  line-height:14px;
  text-align:left;
  margin: 0 0 20px 0;
}
.noSearchText {
  margin-top: 10px;
  font-size:14px;
  color:#90a4ae;
  letter-spacing:0;
  line-height:14px;
  text-align:left;
}
