.wrapList {
  padding: 0;
}
.listDataWrap {
  margin: 0;
  padding: 0;
}
.pageWrap {
  text-align: center;
  height: 50px;
}
.noCompany {
  margin-top: 15px;
  box-shadow: 0 2px 4px 0 rgba(176,190,197,.5);
  background-color: #fff;
  padding: 20px 15px;
  color: #999;
}
