.wrap {
  margin: 0;
  padding: 0;
  height: 46px;
  line-height: 46px;
  border-bottom: 1px solid #eceff1;
}
.searchKeyFilter {
  float: left;
  font-weight: 700;
  font-size: 14px;
  color: #546e7a;
  margin-right: 30px;
}
.searchKeyFilter span {
  color: #42a5f5;
  margin-right: 4px;
}
.totalCon {
  float: left;
  font-weight: 500;
  font-size: 14px;
  color: #546e7a;
}
.findNum {
  color: #42a5f5;
  margin: 0 3px 0 3px;
}
.noResult {
  float: right;
  font-size: 14px;
  text-decoration: underline;
  color: #90a4ae;
  cursor: pointer;
}
.none {
  display: none;
}
