.wrap {
  margin: 0;
  padding: 0;
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #eceff1;
}
.searchKeyFilter {
  float: left;
  font-weight: 700;
  font-size: 14px;
  color: #546e7a;
  // margin-right: 30px;
}
.searchKeyFilter span {
  color: #42a5f5;
  margin-right: 4px;
}
.toggleButton{
  position: relative;
  float: right;
  height: 35px;
  margin-top: 10px;
  padding: 0 30px 0 15px;
  border: 1px solid #bbdefb;
  line-height: 35px;
  font-weight: 700;
  color: #42a5f5;
  background: #fff;
  &::before, &::after{
    position: absolute;
    top: 17px;
    content: '';
    display: inline-block;
    width: 7px;
    height: 2px;
    background-color: #42a5f5;
    transition: all .3s;
  }
  &:hover{
    color: #42a5f5;
  }
}
.toggleButtonHidden{
  &::before{
    right: 12px;
    transform: rotate(45deg);
  }
  &::after{
    right: 8px;
    transform: rotate(135deg);
  }
}
.toggleButtonShow{
  &::before{
    right: 8px;
    transform: rotate(45deg);
  }
  &::after{
    right: 12px;
    transform: rotate(135deg);
  }
}
.totalCon {
  float: left;
  font-weight: 700;
  font-size: 14px;
  color: #546e7a;
}
.findNum {
  color: #E53935;
  margin: 0 3px 0 3px;
}
.noResult {
  float: right;
  font-size: 14px;
  text-decoration: underline;
  color: #90a4ae;
  cursor: pointer;
}
.none {
  display: none;
}
.text {
  margin: 0 0 0 3px;
  color: #E53935;
}
