.itemLeftWrap {
  margin: 0;
  padding: 0;
}
.itemMessage {
  float: left;
  width: 100%;
}
.company {
  float: left;
  width: auto;
  max-width: 50%;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
}
.company em {
  color: #42A5F5;
  font-weight: bold;
}
.monitorStyle {
  float: left;
  margin-left: 15px;
  padding: 0;
}
.monitorStatus {
  width: auto;
  padding: 1px 16px 1px 33px;
  border: 1px solid #42a5f5;
  border-radius: 100px;
  font-weight: normal;
  color: #42a5f5;
  position: relative;
  top: -5px;
  font-size: 14px;
}
.monitorStatus i {
  display: block;
  position: absolute;
  left: 16px;
  top: 3px;
  width: 13px;
  margin: 0 auto;
  height: 17px;
  background-image: url('../../../../../imgs/companyHome/bannerM.png');
  background-size: auto;
  background-repeat: no-repeat;
}
.pauseStatus {}
.expiredStatus {}
.reportStatus {}
.companyStatus {
  float: left;
  margin-left: 15px;
  padding: 0;
}
.stockStatus {
  float: left;
  margin-left: 15px;
  padding: 0;
}
.labelStyle {
  position: relative;
  top: -5px;
  display: inline-block;
  padding: 1px 16px 1px 16px;
  max-width: 100px;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #42A5F5;
  border: 1px solid #42A5F5;
  border-radius: 100px;
}
.riskPopover {
  float: left;
  margin-left: 15px;
  padding: 0;
}
.riskLabel {
  float: left;
  position: relative;
  top: -5px;
  display: inline-block;
  padding: 1px 16px 1px 16px;
  max-width: 100px;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #757575;
  border: 1px solid #757575;
  border-radius: 100px;
}
.frName {
  float: left;
  margin-right: 40px;
  min-width: 70px;
  color: #90a4ae;
  font-size: 14px;
}
.address {
  float: left;
  min-width: 70px;
  color: #90a4ae;
  font-size: 14px;
}
.highlight {
  float: left;
  margin-right: 20px;
  min-width: 70px;
  color: #90a4ae;
  font-size: 14px;
}
.highlight em {
  color: #42a5f5;
}
