@import "~sc-colors/index.less";
.nameWrap {
  margin: 7px 0 15px;
}
.companyName {
  font-size: 14px;
  line-height: 1em;
  float: left;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 1.5px;
}
.label {
  border-radius: 38px;
  display: inline-block;
  width: 38px;
  height: 17px;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;
  float: left;
  line-height: 17px;
}
.labelLive {
  composes: label;
  border: 1px solid @mdc-blue-400;
  color: @mdc-blue-400;
}
.labelClose {
  composes: label;
  border: 1px solid @black7;
  color: @black7;
}
.baseInfo {
  font-size: 13px;
  line-height: 1em;
  margin-bottom: 9px;
  color: @mdc-grey-500;
}
