@import "~sc-colors/index.less";
.cardWrap {
  position: relative;
}
.rowItem {
  margin-bottom: 20px;
}
.relation {
  margin-left: 41px;
}
.relLine {
  position: absolute;
  left: 13px;
  right: 0;
  border: 2px solid @black9;
  top: 0;
  bottom: 64px;
  border-right: none;
}
.icon {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url('imgs/companyHome/risk/reportLink.png');
  position: absolute;
  top: 138px
}
