@import '~sc-colors/index.less';

.infoTitle {
  margin-top: 30px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 14px;
  color: @black4;
}

.infoTitleSub {
  font-size: 13px;
  line-height: 13px;
  color: @black7;
}
