@import "../../../helpers/color.less";
.wrapper {
  float: right;
  display: table;
  margin-top: -36px;
}
.wrapper:after {
  content: '';
  display: block;
  clear: both;
}
.sortItem {
  display: table-cell;
  width: 97px;
  height: 26px;
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  color: @mdc-blue-grey-500;
  border: 1px solid @mdc-blue-grey-100;
  border-left: none;
  cursor: pointer;
}
.sortItemAct {
  composes: sortItem;
  background: @mdc-white-darker;
  box-shadow:0 2px 4px 0 rgba(176,190,197,0.50);
}
.sortItem:first-child {
  border-left: 1px solid @mdc-blue-grey-100;
}
.icon {
  display: inline-block;
  width: 10px;
  height: 12px;
  margin-left: 5px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.down {
  composes: icon;
  background-image: url(imgs/monitorList/_down.png);
}
.downAct {
  composes: icon;
  background-image: url(imgs/monitorList/down.png);
}
.up {
  composes: down;
  transform: rotate(180deg);
}
.upAct {
  composes: downAct;
  transform: rotate(180deg);
}
