@import "../../../helpers/color.less";
.wrapper {
  float: right;
  margin-top: -30px;
}
.wrapper:after {
  content: '';
  display: block;
  clear: both;
}
.sortItem {
  float: right;
  width: 80px;
  height: 30px;
  margin-top: -10px;
  line-height: 30px;
  text-align: center;
  color: @mdc-grey-700;
  border: 1px solid @mdc-grey-300;
  border-left: none;
  cursor: pointer;
  span {
    font-size: 12px;
    line-height: 1;
  }
}
.sortItemAct {
  composes: sortItem;
  background: @mdc-white-darker;
  box-shadow: 0 0 5px @mdc-black-lighter;
}
.sortItem:last-child {
  border-left: 1px solid @mdc-grey-300;
}
.icon {
  display: inline-block;
  width: 8px;
  height: 9px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.down {
  composes: icon;
  background-image: url(imgs/monitorList/_down.png);
}
.downAct {
  composes: icon;
  background-image: url(imgs/monitorList/down.png);
}
.up {
  composes: down;
  transform: rotate(180deg);
}
.upAct {
  composes: downAct;
  transform: rotate(180deg);
}
