.wrap {
  width: 100%;
  height: 3px;
  background: transparent;
}
.process {
  background: #90caf9;
  height: 3px;
  border-radius: 3px;
  transition: all .3s linear;
}
@keyframes process {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.processing {
  .process;
}
.processing:after {
  content: '';
  display: block;
  height: 3px;
  background: linear-gradient(#90caf9, #fff);
  animation: process 2s ease infinite;
}
