@import "~sc-colors/index.less";
.table {
  width: 100%;
  border: 1px solid @mdc-grey-200;
  color: @mdc-grey-700;
  font-size: 14px;
  line-height: 1em;
  th,td {
    border: 1px solid @mdc-grey-200;
  }
  td {
    padding: 10px;
  }
}
.number {
  text-align: center;
  background: @mdc-grey-50;
  width: 3.2%;
}
.label {
  float: left;
}
.value {
  float: left;
  width: 70%;
}
.valueImpor {
  composes: value;
  color: @mdc-grey-900;
}
.companyName {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: @mdc-blue-400;
  text-decoration: underline;
  &:hover {
    color: @mdc-blue-400;
    text-decoration: underline;
  }
}
