.top-filter {
  overflow: hidden;
  margin: 20px 0;
  background-color: #fff;
  .filter {
    float: left;
    width: 900px;
  }
  .search {
    float: right;
    padding-top: 10px;
    margin-right: 20px;
  }
}
