.riskPopover {
  float: left;
  margin-left: 15px;
  padding: 0;
}
.riskLabel {
  float: left;
  position: relative;
  top: -5px;
  display: inline-block;
  padding: 1px 16px 1px 16px;
  max-width: 100px;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #757575;
  border: 1px solid #757575;
  border-radius: 100px;
}
