@import '~sc-colors/index.less';

.companyInfo {
  float: left;
}

.bannerInfoWrap {
  background: @mdc-white-darker;
  width: 100%;
  padding-top: 26px;
  padding-bottom: 26px;
  box-shadow:0 2px 4px 0 rgba(176,190,197,0.50);
}
.bannerInfoWrap img {
  float: left;
}
.infosmall .messageWrap {
  margin-top: -65px;
  visibility: hidden;
  opacity: 0;
}
