@import "../../../helpers/color.less";
.transition-all(@secend: .6s) {
  -webkit-transition:all @secend ease-in-out;
     -moz-transition:all @secend ease-in-out;
       -o-transition:all @secend ease-in-out;
          transition:all @secend ease-in-out;
}
.bannerInfoWrap {
  background: @mdc-white-darker;
  position: fixed;
  top: 70px;
  z-index: 1000;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 158px;
  box-shadow:0 2px 4px 0 rgba(176,190,197,0.50);
  .transition-all;
}
.bannerInfoWrap img {
  float: left;
  height: 118px;
  .transition-all;
}