@import '~sc-colors/index.less';

.companyInfo {
  float: left;
}

.bannerInfoWrap {
  padding: 26px 20px;
  margin-top: 20px;
  width: 100%;
  min-height: 149px;

  box-shadow:0 2px 4px 0 rgba(176,190,197,0.50);
  background: @mdc-white-darker;
}

.bannerContent {
  position: relative;
  min-height: 97px;
}


.action {
  float: right;
}

.countAndDate {
  position: absolute;
  right: 0;
  bottom: 0;

  font-size: 14px;
  line-height: 14px;
  color: @mdc-grey-400;

  .date {
    float: left;
    margin-right: 30px;
  }

  .count {
    float: left;
  }
}
.reportIcon {
  width: 56px;
  height: 66px;
}
