.part{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 20px;
  padding-right: 20px;
  .title{
    color: #007CEA;
    font-size: 14px;
  }
  .info{
    color: #888;
    font-size: 14px;
    word-break: break-all;
    .infos{
      padding: 6px 0;
    }
  }
}
