@import "../../../helpers/color.less";
.wrapper {
  font-size: 14px;
  color: @mdc-blue-grey-300;
  line-height: 1;
  padding: 20px 0;
  span {
    margin: 0 5px;
    color: @mdc-blue-grey-500;
  }
}
