.wrapper {
  margin-bottom: 30px;
}
.wrapper:after {
  content: '';
  display: block;
  clear: both;
}
.host_style{
  .child{
    width: 49%;
  }
}

.child_base_info{
  width: 100%;
}
.child_base_info_100{
  width: 100%;
}

.child_record{
  width: 36%;
  .operate_info{
    margin-top: 0;
    padding-bottom: 22px;
  }
}

.child_record_sub{
  display: none;
  .operate_info{
    margin-top: 0;
    padding-bottom: 61px;
  }
}