@import '~sc-colors/index.less';

.title {
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 20px;
  color: @mdc-blue-grey-800;
}

.statisticItem {
  margin-top: 20px;
  padding: 20px;

  background-color: @mdc-white-darker;
  .box-shadow-block;

  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;

  &:hover {
    .box-shadow-block-click;
  }
}
