.wrap{
  // padding: 0 0 20px 0;
  height: 20px;
  margin: 0 0 20px 0;
  font-size: 14px;
  text-align: right;
  text-decoration: underline;
  color: #90a4ae;
}
.noResult {
  float: right;
  font-size: 14px;
  text-decoration: underline;
  color: #90a4ae;
  cursor: pointer;
}
.none {
  display: none;
}
