.searchWrap {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.searchBarWrap {
  position: fixed;
  z-index: 1;
  top: 71px;
  left: 0;
  width: 100%;
  // height: 176px;
  padding: 30px 0 30px;
  height: auto;
  // height: 100%;
  // padding-top: 100px;
  // background-image: url(http://localhost:9001/dist/c6c0a9519b9fc2083b5202f1ef99beaf.png);
  // background-size: auto;
  // background-repeat: no-repeat;
  margin-top: 0px;
  transition: all 0.6s ease-in-out;
  opacity: 1;
  box-shadow: 0 2px 4px 0 rgba(176, 190, 197, 0.5);
}
.bdWhite {
  background-color: white;
}
.searchBarCon {
  width: 1060px;
  margin: auto;
  padding: 0;
}
.searchListWrap {
  // margin-top: 175px;
  margin-top: 300px;
  padding-top: 20px;
}
