@import "~sc-colors/index.less";

.trend-box-block {
  position: relative;
  padding: 30px 40px;

  border: 1px solid @black12;
}

.chart-title {
  position: absolute;
  top: 30px;
  left: 40px;

  font-size: 13px;
  color: @black5;
  line-height: 1em;
}
