@import '~sc-colors/index.less';

.bannerAction {
  float: left;
  
  font-size:14px;
  line-height: 14px;
  color:@mdc-grey-600;
  text-decoration: underline;
  cursor: pointer;
}

.actionBtn {
  float: left;
  width: 106px;
  margin-left: 14px;

  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: @mdc-white-darker;

  background-color: @mdc-blue-400;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }
}
