.bg {
  background-color: #fff;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 700px;

  .textStyle {
    font-size: 14px;
    line-height: 26px;
    color: #424242
  }

  h2 {
    margin-top: 34px;

    font-size:30px;
    line-height: 40px;
    color:#212121;
    text-align: center;
  }
  

  h3 {
    .textStyle;
    margin-top: 22px;
    font-weight: bold;
  }

  h4 {
    .textStyle;
  }

  p {
    .textStyle;
  }
}

.end {
  margin-bottom: 30px;

  text-align: right;
}
