@import '~sc-colors/index.less';

.tip2 {
  position: absolute;
  top: 48px;
  left: 0;
}

.round1,
.round2,
.round3,
.round4
{
  float: left;
  width: 10px;
  height: 10px;
  margin-top: 1px;
  margin-right: 8px;

  border-radius: 100px;
}
.round1 {
  background-color: @purple3;
}
.round2 {
  background-color: @purple2;
}
.round3 {
  background-color: @blue9;
}
.round4 {
  background-color: @green4;
}

.mb10 {
  margin-bottom: 10px;
}

.tipText {
  float: left;
  color: @black7;
  line-height: 1em;
}
