@import '~sc-colors/index.less';
.wrapper {
  float: left;
  width: 50%;
  min-height: 14px;
  font-size: 14px;
  line-height: 1;
  margin-top: 25px;
  padding-right: 10px;
}
.wrapper:after {
  display: block;
  content: '';
  clear: both;
}
.keys {
  float: left;
  margin-right: 10px;
  color: @mdc-blue-grey-200;
}
.values {
  color: @mdc-grey-700;
}
