.noDataButton {
  float: right;
  margin-top: 20px;
}
.title{
  font-size: 20px;
  float: left;
  margin-top: 20px;
}
.listArea{
  margin-top: 20px;
}
.maintenance{
  float: right;
  margin-top: 20px;
  color: #bbbbbb;
  cursor: not-allowed;
  border: 1px solid #bbbbbb;
  background: none;
}
.pause_tpis{
  font-size: 14px;
  color: #999;
  padding: 0 0 0 15px;
}
