@import '~sc-colors/index.less';
.close {
  display: inline-block;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 20px;
  right: 10px;
  background-image: url('imgs/companyHome/close.png');
  &:hover {
    cursor: pointer;
  }
}
.time {
  font-size: 13px;
  color: @black8;
}
.name {
  font-size: 13px;
  color: @black6;
  margin: 5px 0 10px;
}
.line {
  margin: 0 5px;
}

.historyName {
  position: relative;
  width: 300px;
  padding: 20px;
  max-height: 333px;
  overflow: auto;
}

.contactInfoHistory {
  float: left;
  height: 14px;

  font-size: 14px;
  line-height: 14px;
}
.historyNameBtn {
  display: block;

  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @mdc-blue-400;

  cursor: pointer;

  i {
    margin-left: 3px;

    color: @mdc-blue-400;

    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
  }
}

.rotate{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
