@import '~sc-colors/index.less';
// body {
//   background-color: @mdc-grey-100;
// }
.container{
  width: 100%;
}

.wrap {
  min-width: 1200px;
  background-color: @mdc-grey-100;
  height: 100%;
}

.box{
  background-color: @mdc-grey-100;
  padding-bottom: 100px;
  // padding: 71px 0 10px 0;
  // height: 100%;
}
.content {
  width: 1200px;
  margin: 0 auto;

}
