.noDataImgBox {
  display: table;
  width: 100%;
  
  text-align: center;
}
.noDataContent {
  display: table-cell;
  vertical-align: middle;
}
.noDataBox{
  display: inline-block;
}
.noDataImg{
  float: left;
}
.noDataText{
  float: left;
  margin-top: 24px;
  margin-left: 15px;

  color: #666666;
}

.msgBox{
  width: 100%;
  text-align: center;
  line-height: 45px;
  
  background: #fcfcfc;
}
.msgBox_noColor{
  width: 100%;
  text-align: center;
  line-height: 45px;
}

.msgItem {
  display: inline-block;
  vertical-align: middle;
}

.msgImg {
  float: left;
  width: 35px;
  height: 23px;
  background-image: url('imgs/not_data_text.png');
}

.msgText {
  float: left;
  margin-left: 10px;
  
  line-height: 23px;
  color: #9E9E9E;
}

.noDataList{
  padding: 120px 0;
  text-align: center;
  
  .imageBox{
    width: 255px;
    height: 133px;
    margin: 0 auto;

    background: url("imgs/noData/no_data_report.png") 0 0 no-repeat;
  }

  .tips{
    padding: 20px 0;

    font-size: 14px;
    color: #BDBDBD;
  }
}
.errorWords{
  color: #108ee9;
  cursor: pointer;
  text-decoration: underline;
}
