.box {
  margin: 30px 0 0 0;
  padding: 0 0 30px 0;
  height: 70px;
}
.turn {
  float: left;
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  color: #999;
  font-size: 16px;
  cursor: pointer;
}
.turn i {
  float: left;
  margin: 10px 10px 0 0;
  display: block;
  width: 19px;
  height: 18px;
  background-image: url('../../../imgs/searchCompany/turn.png');
  background-repeat: no-repeat;
  background-size: auto;
}
.btn {
  float: left;
  margin-left: 500px;
  width: 150px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #64b5f6;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}
