@import "~sc-colors/index.less";
.accountTable {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 30px;
}
.accountTable th,
.accountTable td {
  line-height: 40px;
  border-bottom: 1px solid @black11;
  border-right: 1px solid @black11;
}
.accountTable th {
  position: relative;
  padding: 0 20px;

  color: @black5;
}
.accountTable td {
  padding: 0 20px;
  color: @black4;
  line-height: 20px;
  padding: 10px 20px;
  word-break: break-all;
}
.accountTable th:last-child,
.accountTable td:last-child {
  border-right: none;
}
.accountTable tbody tr:last-child td {
  border-bottom: none;
}

.accountTable thead tr {
  background-color: @blue6;
}
.accountTable tbody tr:nth-of-type(2n-1) {
  background-color: @white1;
}
.accountTable tbody tr:nth-of-type(2n) {
  background-color: @black15;
}
