.top{
  margin-top: 25px;
  padding-bottom: 60px;
}
.gap{
  margin-left: 2%;
  margin-right: 2%;
}
.newAccount{
  width: 32%;
}
.rules{
  width: 66%;
  margin-left: 2%;
}
@media (max-width: 1680px){
  .gap{
    margin-left: 2%;
    margin-right: 0;
  }
  .full_box{
    width: 100% !important;
  }
}