@import '../../../../helpers/color';

.listContainer {
  padding: 6px 10px;
}

.TittleText {
  padding: 5px 10px 10px 10px;
  border-bottom: 1px solid @mdc-blue-grey-50;
}

.box {
  font-size: 30px;
}

h3 {
  margin: 5px 10px;
  font-size: 16px;
  line-height: 16px;
  color: @mdc-blue-grey-800;
}

.messageCount {
  color: @mdc-blue-grey-300;
  margin: 0;
  line-height: 1em;
  padding: 5px 10px 10px 10px;
}

  .AlertEach {
    font-size: 14px;
    list-style: none;
    padding: 20px 0;
    border-bottom: solid 1px @mdc-blue-grey-50;
    .AlertEachDiv {
      border-left-width: 3px;
      border-left-style: solid;
      padding: 0px 0 0 20px;
      margin-top: 10px;
      position: relative;
      .AlertEachKind {
        font-weight: normal;
        margin-bottom: 15px;
        span {
          color: @mdc-grey-800;
          label {
            font-weight: normal;
            color: @mdc-grey-700;
          }
        }
        .AlertEachTag {
          font-weight: normal;
          color: #fff;
          float: left;
          display: block;
          border-radius: 4px;
          margin-right: 10px;
          width: 15px;
          height: 15px;
          text-align: center;
          line-height: 15px;
          font-size: 14px;
          border-radius: 2px;
          margin-right: 8px;
          margin-top: 2px;
        }
      }
      .AlertEachInfo {
        height: 19px;
        span {
          display: block;
          float: left;
          color: @mdc-grey-500;
        }
        label {
          color: #666;
          a {
            color: @mdc-grey-700;
          }
          a:hover {
            color: @mdc-blue-400;
            text-decoration: underline;
          }
        }
      }
      .AlertEachInfo:after {
        display: block;
        content: '';
        clear: both;
      }
    }
  .AlertEachHIGH {
    background: @mdc-red-600;
  }
  .AlertEachBorderHIGH {
    border-color: @mdc-red-600;
  }
  .AlertEachMIDDLE {
    background: @mdc-orange-500;
  }
  .AlertEachBorderMIDDLE {
    border-color: @mdc-orange-500;
  }
  .AlertEachLOW {
    background: #5CC789;
  }
  .AlertEachBorderLOW {
    border-color: @mdc-green-400;
  }
}

.page {
  height: 65px;
  padding: 20px 10px;
}
