@import '~sc-colors/index.less';
.table {
  width: 100%;
  thead {
    th {
      .table-common;
      background-color: @black17;
    }
  }
  tbody {
    td {
      .table-common;
    }
  }
}
.table-common {
  padding: 18px 10px;

  font-size: 14px;
  line-height: 14px;
  color: @mdc-grey-700;

  border: 1px solid @mdc-blue-grey-50;
}
