@import '~sc-colors/index.less';
.file-html {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 30px;
    color: @black4;
    margin: 5px 0;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  p, pre {
    color: @black5;
    font-size: 14px;
    line-height: 30px;
    padding-left: 10px;
  }
  pre {
    // background-color: @black13;
    background-color: rgba(52, 131, 233, 0.05);
    border: 1px solid #efefef;
  }
  ul {
    padding-left: 10px;
    li {
      list-style-type: disc;
      list-style-position: inside;
      line-height: 30px;
    }
  }
  table {
    width: 100%;
    border: 1px solid #EFEFEF;
    tr {
      width: 100%;
      border-top: 1px solid #EFEFEF;
      td, th {
        text-align: center;
        padding: 0 5px;
        line-height: 40px;
      }
      th {
        background-color: #F5F5F5;
        color: #999;
      }
      td {
        border-right: 1px solid #EFEFEF;
        color: #333;
      }
    }
    tbody tr {
      &:hover {
        background-color: rgba(52, 131, 233, 0.1);
      }
    }
  }
  em {
    font-style: italic;
  }
}
