@import "~sc-colors/index.less";
.tabWrap {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 1em;
  color: @mdc-blue-grey-200;
}
.tabBase {
  cursor: pointer;
}
.line {
  padding: 0 25px;
}
.tabWrap:last-of-type .line{
  display: none;
}
.tab {
  composes: tabBase;
  &:hover {
    color: @mdc-blue-400;
  }
}
.tabDis {
  composes: tabBase;
  color: @mdc-blue-grey-100;
  cursor: not-allowed;
}
.tabActive {
  composes: tabBase;
  color: @mdc-blue-400;
}
