.newsItem{
  display: inline-block;
  width: 50%;
  margin-bottom: 20px;
  vertical-align: top;
}
.newsScore{
  float: left;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  text-align: center;
  color: #3483e9;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid #3483e9;
}
.newsDim{
  padding-left: 70px;
  margin-top: 10px;
  line-height: 20px;
  font-size: 13px;
  color: #3483e9;
}
.newsDesc{
  padding-left: 70px;
  padding-right: 20px;
  line-height: 20px;
  font-size: 13px;
  color: #666666;
}
