.alert {
  font-size: 14px;
  h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  ul {
    list-style: disc;
    margin-bottom: 10px;
    li {
      list-style: inside;
    }
  }
  .btn-box {
    text-align: center;
    // margin-top: 10px;
  }
  .vsbtn {
    margin: 0 10px;
  }
}
