.rangeBox {
  position: absolute;
  top: 30px;
  left: 20px;
  padding: 10px;
  color: #999999;
}
.icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
}
