@import '~sc-colors/index.less';
.bannerType {
  float: left;
  margin-top: 19px;
}
.bannerType i {
  float: left;
  display: block;
  width: 13px;
  height: 16px;
}
.bannerTypeMain i {
  margin-top: 1px;
  background-image: url('imgs/companyHome/bannerM.png');
}
.bannerTypeMain span {
  font-size:14px;
  color:@mdc-blue-400;
  margin: 0 10px 0 5px;
}
.bannerTypeNone i {
  margin-top: 1px;
  background-image: url('imgs/companyHome/bannerN.png');
}
.bannerTypeNone span {
  font-size:14px;
  color:@mdc-grey-600;
  margin: 0 10px 0 5px;
}
.bannerTypeAssociate i {
  margin-top: 1px;
  background-image: url('imgs/companyHome/bannerA.png');
}
.bannerTypeAssociate span {
  font-size:14px;
  color:@mdc-teal-400;
  margin: 0 10px 0 5px;
}
.bannerTypeAssociateNo i {
  margin-top: 1px;
  background-image: url('imgs/companyHome/bannerN.png');
}
.bannerTypeAssociateNo span {
  font-size:14px;
  color:@mdc-grey-600;
  margin: 0 10px 0 5px;
}
.reportType {
  float: left;
  font-size:14px;
  color:@mdc-grey-600;
  margin-top: 19px;
}