@import '~sc-colors/index.less';

.assetLocalSwitchData {
  float: left;
  margin-right: 20px;
}

.label {
  float: left;
  margin-right: 10px;

  line-height: 20px;
  color: @black7;
}

.select {
  float: left;
}

.cardList {
  margin-top: 20px;
}
