@import "~sc-colors/index.less";

.hoverBox {
  position: absolute;
  top: 111px;
  left: 0;

  box-shadow:0 0 5px 0 rgba(176,190,197,0.60), 0 8px 8px 2px rgba(176,190,197,0.60);
  background-color: @mdc-white-darker;

  visibility: hidden;
  opacity: 0;
  z-index: 1;

  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

.arrowBox {
  position: absolute;
  width: 100%;
  top: -12px;
  left: 0;

  text-align: center;
  line-height: 12px;
}
.arrow {
  display: inline-block;
  width: 13px;
  height: 12px;

  background-image: url('imgs/navbar/drop_down_arrow.png');
}
