@import "~sc-colors/index.less";

.hoverBox {
  position: absolute;
  top: 111px;
  left: 0;

  background-color: @mdc-white-darker;

  visibility: hidden;
  opacity: 0;
  z-index: 1;

  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

.arrowBox {
  position: absolute;
  width: 100%;
  top: -7px;
  left: 0;

  text-align: center;
  line-height: 12px;
}
.arrow {
  display: inline-block;
  width: 14px;
  height: 14px;

  background-color: rgba(0, 0, 0, 0.9);

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
