@import "~sc-colors/index.less";
.title {
  font-size: 18px;
  line-height: 1em;
  padding-left: 20px;
  color: @mdc-blue-400;
}
.hr {
  border: 1px solid @mdc-grey-200;
}
.content {
  padding: 0 20px;
  height: 610px;
  overflow-y: auto;
  margin-right: 5px;
  table {
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 20px;
    color: @mdc-grey-700;
    font-size: 14px;
  }
  th {
    background-color: @black13;
    height: 35px;
    padding-left: 10px;
    color: @mdc-grey-700;
  }
  td {
    height: 35px;
    padding-left: 10px;
    border: 1px solid #eee;
  }
}
.multiRow {
  td {
    width: 50%;
  }
}
