@import '~sc-colors/index.less';
.wrapper {
  position: relative;
  float: right;
  width: 16%;
}
.actionBox {
  position: absolute;
  right: 0;
  width: 110px;
}
.switchBox {
  height: 20px;
  text-align: right;
}
.statusTextBox {
  margin-top: 17px;
  text-align: right;
}
.statusTextBox:after {
  content: '';
  display: block;
  clear: both;
}
.statusText {
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  color: @mdc-blue-grey-300;
  vertical-align: middle;
  margin-right: 10px;
}
.rechargeBtn {
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  color: @mdc-blue-grey-500;
  text-decoration: underline;
  cursor: pointer;
}
.rechargeBtnBlue {
  composes: rechargeBtn;
  color: @mdc-blue-400;
}
