@import "~sc-colors/index.less";
.box {
  background-color: rgba(227,242,253,0.5);
  padding-left: 40px;
  height: 35px;
  line-height: 35px;
  color: @mdc-blue-400;
  font-size: 14px;
}
.date {
  color: @mdc-grey-500;
  cursor: default;
}
.line {
  color: @mdc-grey-300;
  margin: 0 15px 0 10px;
}
.repType {
  color: @mdc-grey-800;
}
.item {
  margin-right: 18px;
  cursor: pointer;
}
.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: 100% 100%;
  position: relative;
  top: 3px;
}
.update {
  composes: icon;
  background-image: url(imgs/bannerInfo/update.png);
  margin-right: 4px;
}
.pause {
  margin-right: 2px;
  composes: icon;
  background-image: url(imgs/bannerInfo/pause.png);
}
.renewal {
  margin-right: 2px;
  composes: icon;
  background-image: url(imgs/bannerInfo/renewal.png);
}
.download {
  composes: icon;
  background-image: url(imgs/bannerInfo/download.png);
}
