@import '~sc-colors/index.less';

.label {
  line-height: 20px;
  float: left;
  color: @black7;
  margin-right: 10px;
}
.selectInput {
  width: 120px;
}
.fl {
  float: left;
  width: 50%;
}
.fLeft {
  float: left;
}
.trade {
  margin-right: 4%;
}
