@import '~sc-colors/index.less';

.bidMarket-black-title {
  font-size: 14px;
  color: @black1;
  line-height: 14px;
}

.bid-market-cp {
  cursor: pointer;
}

.bidMarket-map-select-title {
  padding-right: 10px;

  font-size: 14px;
  color: @black5;
}

.text-underline {
  text-decoration: underline;
}
