@import '~sc-colors/index.less';
.footer{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  background-color: @white1;
}
.footer-item {
  line-height: 20px;
  padding: 5px 0;
}
.name {
  color: @blue2;
  margin-right: 20px;
}
.img-stl {
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.text {
  color: @black5;
}
