@import '~sc-colors/index.less';

.subTitle {
  font-size: 12px;
  color: @black4;
}

.label {
  font-size: 12px;
  color: @black5;
  margin-right: 5px;
  margin-left: 13px;
}

.value {
  background-repeat: no-repeat;
  padding-right: 10px;
  background-position: right;
  margin-right: 20px;
}

.down {
  .value;
  color: @green1;
}

.up {
  .value;
  color: @red1;
}

.zero {
  .value;
}

.fl {
  float: left;
  width: 50%;
}

.message {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  color: @blue2;
  background-color: @blue7;
  padding: 5px 0 5px 20px;
}
.icon {
  margin-left: 10px;
  margin-right: 4px;
  font-size: 14px;
}
.titleIcon {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 6px;
}
.moneyIcon {
  .titleIcon;
  background-color: @red2;
}
.countIcon {
  .titleIcon;
  background-color: @green5;
}
.chart {
  margin-bottom: 20px;
}
