@import "~sc-colors/index.less";
.policy {
  p {
    margin-bottom: 10px;
  }
  a {
    color: @mdc-grey-700;
    text-decoration: underline;
    &:hover {
      color: @mdc-grey-700;
    }
  }
}
.policy p:nth-last-child(1) {
  margin-bottom: 0;
}
