@import '~sc-colors/index.less';

.wrap {
  position: relative;

  border: 1px solid #efefef;
}

.title {
  position: absolute;
  top: 16px;
  left: 10px;

  font-size: 13px;
  line-height: 13px;
  color: #333;

  z-index: 1;
}
