@import "~sc-colors/index.less";
.wrap {
  background: @white1;
  padding: 30px;
}
.companyName {
  font-size: 20px;
  color: @mdc-grey-800;
  i {
    width: 13px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 9px 0 19px;
  }
}
.mainCom {
  composes: companyName;
  i {
    display: inline-block;
    background-image: url('imgs/riskHeadlines/comMain.png');
  }
}
.subCom {
  composes: companyName;
  .comName {
    font-size: 20px;
    color: @mdc-grey-800;
    cursor: pointer;
  }
  i {
    background-image: url('imgs/riskHeadlines/comSub.png');
  }
}
.riskInfo {
  margin-bottom: 50px;
}

.mainJump{
  color: @mdc-blue-400;
  border-bottom: 1px solid @mdc-blue-400;
  cursor: pointer;
  line-height: 13px;
  display: inline-block;
  font-size: 14px;
}
.subJump{
  color: @green5;
  border-bottom: 1px solid @green5;
  cursor: pointer;
  line-height: 13px;
  display: inline-block;
  font-size: 14px;
}
