.filter-list {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #EFEFEF;
  overflow: hidden;
  .dateFilte {
    float: left;
    margin-right: 20px;
  }
  .flt-btn {
    float: left;
    height: 26px;
    line-height: 26px;
    width: 70px;
    margin-left: 10px;
    border-radius: 4px;
  }
}
