.box {
  margin: 0;
  padding: 0;
  height: 24px;
  width: 100%;
}
.name {
  float: left;
  font-size:16px;
  color:#2f2f2f;
  letter-spacing:0;
  text-align:left;
  cursor: pointer;
}
.type {
  float: left;
  margin: 0 0 0 15px;
  padding: 0 10px;
  border:1px solid #42a5f5;
  border-radius:100px;
  width:auto;
  text-align: center;
  height:23px;
  line-height: 23px;
  font-size:14px;
  color:#42a5f5;
  letter-spacing:0;
}
