@import '~sc-colors/index.less';

.block {
  padding: 15px 20px;
  font-size: 14px;
}

.block-item {
  padding-top: 3px;
  padding-bottom: 3px;
}

.block-key {
  color: @black7;
}

.block-value {
  color: @black5;
}

.block-bid {
  width: 100%;

  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.single {
  float: left;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}
.half {
  float: left;
  width: 50%;
}
