.itemBox{
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #eee;
}
.itemBoxTop{
  margin-left: -15px;
  color:#42a5f5;
}
.nameTag{
  position: relative;
  display: inline-block;
  padding: 2px 20px;
  background-color: #e3f2fd;
  margin-right: 10px;
  margin-left: -6px;
  &::after{
    position: absolute;
    right: -7px;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    content: "";
    background: #fff;
    border: 3px solid #ccc;
    border-color: #bbdefb #bbdefb rgba(0,0,0,0) rgba(0,0,0,0);
  }
}
.postion{
  display: inline-block;
}
.info{
  float: right;
  cursor: pointer;
}
.itemBody{
  margin-top: 15px;
}
.listItem{
  display: inline-block;
  width: 33%;
  font-size: 14px;
  color: #212121;
}
