@import '~sc-colors/index.less';

.checkbox {
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
}
.checkboxText {
  color: @black5;
  font-size: 14px;
}
.checkboxTextDisable {
  color: silver;
  font-size: 14px;
}
.category0 {
  display: inline-block;
  border-radius: 50%;
  background: #3a637f;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.category1 {
  display: inline-block;
  border-radius: 50%;
  background: #c23531;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.category2 {
  display: inline-block;
  border-radius: 50%;
  background: #dd9177;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.category3 {
  display: inline-block;
  border-radius: 50%;
  background: #bda29a;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.category4 {
  display: inline-block;
  border-radius: 50%;
  background: #448587;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.category5 {
  display: inline-block;
  border-radius: 50%;
  background: #91c7ae;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.category6 {
  display: inline-block;
  border-radius: 50%;
  background: #bd8b43;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.category7 {
  display: inline-block;
  border-radius: 50%;
  background: #749f83;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.category8 {
  display: inline-block;
  border-radius: 50%;
  background: #6e7074;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}