@import '~sc-colors/index.less';
.checkbox {
  height: 40px;
  line-height: 40px;
}
.checkboxText {
  color: @black5;
  font-size: 14px;
}
.checkboxTextDisable {
  color: silver;
  font-size: 14px;
}
.checkboxDisable label span:first-child span {
  background: @black12;
  border-color: 1px solid @mdc-grey-300;
}
.checkbox0 label span:first-child span{
  background-color: #fff;
  border-color: #0d6381 !important;
}
.checkbox0Act label span:first-child span {
  background-color: #0d6381;
  border-color: #0d6381 !important;
}

.checkbox1 label span:first-child span{
  background-color: #fff;
  border-color: #e1322d !important;
}
.checkbox1Act label span:first-child span{
  background-color: #e1322d;
  border-color: #e1322d !important;
}

.checkbox2 label span:first-child span{
  background-color: #fff;
  border-color: #f49276 !important;
}
.checkbox2Act label span:first-child span{
  background-color: #f49276;
  border-color: #f49276 !important;
}

.checkbox3 label span:first-child span{
  background-color: #fff;
  border-color: #c8a39b !important;
}
.checkbox3Act label span:first-child span{
  background-color: #c8a39b;
  border-color: #c8a39b !important;
}

.checkbox4 label span:first-child span{
  background-color: #fff;
  border-color: #1c9193 !important;
}
.checkbox4Act label span:first-child span{
  background-color: #1c9193;
  border-color: #1c9193 !important;
}

.checkbox5 label span:first-child span{
  background-color: #fff;
  border-color: #91c7ae !important;
}
.checkbox5Act label span:first-child span{
  background-color: #91c7ae;
  border-color: #91c7ae !important;
}
.checkbox6 label span:first-child span{
  background-color: #fff;
  border-color: #bd8b43 !important;
}
.checkbox6Act label span:first-child span{
  background-color: #bd8b43;
  border-color: #bd8b43 !important;
}
.checkbox7 label span:first-child span{
  background-color: #fff;
  border-color: #749f83 !important;
}
.checkbox7Act label span:first-child span{
  background-color: #749f83;
  border-color: #749f83 !important;
}
