@import "~sc-colors/index.less";
.policy {
  margin-bottom: 10px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 80%;
  a {
    color: @mdc-grey-700;
    text-decoration: underline;
    &:hover {
      color: @mdc-grey-700;
    }
  }
}
.date {
  float: right;
}
